<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JUST Online Judge</title>

    <% include ../templates/head.ejs %>

</head>
<body>

<!-- header and menu -->
<% include ../templates/header2.ejs %>


<script type="text/javascript">

    jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.document.location = $(this).data("href");
        });
    });


</script>

<!-- Main Content -->
<div class="content container c-h">

    <div class="row">

                <div class="panel-body">
                    <h4>Problems</h4>
                </div>

                <!-- problem list -->
                <table class="table problem-list">
                    <thead>
                    <tr>
                        <th style="padding-left: 20px">#</th>
                        <th>Title</th>
                        <th>Difficulty</th>
                        <th title="Total Submissions / Accepted">Stat.</th>
                    </tr>
                    </thead>
                    <tbody>

                    <% for(var i=0; i<problems.length; i++){ %>
                    <tr class='clickable-row' data-href='problems/JOP0<%= problems[i].id %>' >
                        <td style="padding-left: 20px">JOP0<%= problems[i].id %></td>
                        <td class="ellips  pl-title">
                            <%= problems[i].title %>
                        </td>

                        <td>
                                            <span class="label label-default">
                                                <%= problems[i].difficulty %>
                                            </span>
                        </td>

                        <td>
                                            <span class="label label-info">
                                                <%= problems[i].submissions %> / <%= problems[i].solved %>
                                            </span>
                        </td>
                    </tr>
                    <% } %>

                    </tbody>

                </table>



                <hr class="last-border">


                <% include ../templates/pagination.ejs %>



    </div>

</div>

<!-- footer -->
<% include ../templates/footer.ejs %>

</body>
</html>