<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>


    <link rel="stylesheet" href="/stylesheets/style.css">

    <link rel="stylesheet" href="/font-awesome-4.5.0/css/font-awesome.min.css" >

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

</head>
<body>


<!-- header and menu -->
<% include ../templates/header.ejs %>
<% if(!isLoggedIn){ %>
<li><a href="/login"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> LOGIN</a></li>
<li><a href="/resister"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> RESISTER</a></li>
<% } else{ %>
<li><a href="/logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> LOGOUT</a></li>
<li><a href="/#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= user.name %> </a></li>
<% } %>
<% include ../templates/headerend.ejs %>


<!-- Main Content -->
<div class="container">

    <!-- errors -->
    <% if (formError.length) { %>
        <div class="col-md-6 col-md-offset-3">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <%= formError %>
            </div>
        </div>
    <% } %>

    <div class="row">

        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">

                    <h3 id="h3"><%- problem.title %></h3>

                    <p style="font-size: 84%; line-height: 1.1px;">
                        CPU: <%= (problem.cpu/1000.0) %>s |
                        Memory: <%= problem.memory %>KB
                    </p><br>

                    <p>
                        <%- problem.statement %>
                    </p>

                    <h3 id="h3">Sample</h3>

                    <table class="table" style="padding: 0px; margin: 0px">
                        <thead>
                            <tr>
                                <th style="border: none">Input</th>
                                <th style="border: none">Output</th>
                            </tr>
                        </thead>
                        <tbody style="padding: 0px; margin: 0px">
                            <tr>
                                <td class="col-md-1 codePre"><%- problem.input %></td>
                                <td class="col-md-1 codePre"><%- problem.output %></td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                <table class="table" style="background: #f3f3f3">
                    <tbody>
                    <tr>
                        <th class="col-sm-1">Author</th>
                        <td><%= problem.author %></td>
                    </tr>
                    <tr>
                        <th class="col-sm-1">Added</th>
                        <td><%= moment(problem.added).format("MM-DD-YYYY") %></td>
                    </tr>
                    <tr>
                        <th class="col-sm-1">Category</th>
                        <td><%= problem.category %></td>
                    </tr>
                    <tr>
                        <th class="col-sm-1">Source limit</th>
                        <td>50000 bytes</td>
                    </tr>
                    <tr>
                        <th class="col-sm-1">Difficulty</th>
                        <td><%= problem.difficulty %></td>
                    </tr>
                    <tr>
                        <th class="col-sm-1">Submissions</th>
                        <td><%= problem.submissions %></td>
                    </tr>
                    <tr>
                        <th class="col-sm-1">Solved</th>
                        <td><%= problem.solved %></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>




        <div class="col-md-3">


            <div class="panel-body">
                <h4><i class="fa fa-tags" ></i> Tags</h4>
                    <% if(tags.length){ %>
                        <% for(var i=0; i<tags.length; i++){ %>
                        <span class="label label-primary"><%= tagName[tags[i]] %></span>
                        <% } %>
                    <% }else{ %>
                        <span class="label label-default">No Tag Added</span>
                    <% } %>
            </div>


        <% if(isLoggedIn){ %>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Submit</h4>

                    <form method="post" action="/submit/<%= problem.id %>" name="usc" id="usc" enctype="multipart/form-data" >

                        <div class="form-group">
                            <select class="form-control" id="language"  >
                                <option value="c">C</option>
                                <option value="cpp">C++</option>
                                <option value="java">JAVA</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <input type="file" name="source" >
                        </div>

                        <input type='submit' class="btn btn-primary" style="padding: 6px 10px;" value="SUBMIT" >

                    </form>

                    <% if(userSubmissions.length){ %>

                    <br>
                        <table class="table" style="font-size: 12px;">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% for(var i=0; i<userSubmissions.length; i++){ %>
                                <tr>
                                    <td title="<%= userSubmissions[i].submittime %>"><%= moment(userSubmissions[i].submittime).from() %></td>
                                    <td>

                                        <% var st = parseInt(userSubmissions[i].status); %>
                                        <% if(st === 0){ %>
                                        <span class="label label-success">
                                            <% }else if(st === 5){ %>
                                            <span class="label label-default">
                                                <% }else if(st === 6){ %>
                                                <span class="label label-info">
                                                    <% }else if(st === 8){ %>
                                                    <span class="label label-warning">
                                                        <% }else{ %>
                                                        <span class="label label-danger">
                                                            <% } %>
                                                            <%= runStatus[st] %>
                                            </span>
                                    </td>
                                </tr>
                            <% } %>
                            </tbody>
                        </table>
                        <span class="pull-right"><a href="/status/u/<%= problem.id %>">View All</a></span>
                    <% } %>

                </div>
            </div>
        <% } %>


            <div class="panel panel-default" style="background: transparent;">
                <div class="panel-body">

                    <h4><i class="fa fa-trophy" ></i> Rank</h4>

                    <% if(rank.length){ %>

                        <table class="table">
                            <thead>
                            <tr>
                                <th>User</th>
                                <th>Language</th>
                                <th>CPU</th>
                            </tr>
                            </thead>
                            <tbody style="font-size: 12px;">
                            <%
                                var langName = {
                                    cpp: 'C++',
                                    c: 'C',
                                    java: 'JAVA'
                                };
                            %>
                            <% for(var i=0; i<rank.length; i++){ %>
                            <tr>
                                <td><a href="#"><%= rank[i].username %></a></td>
                                <td><%= langName[rank[i].language] %></td>
                                <td><%= parseFloat(rank[i].cpu/1000.0).toFixed(2) %>s</td>
                            </tr>
                            <% } %>
                            </tbody>
                        </table>
                        <span class="pull-right"><a href="/ranks/p/<%= problem.id %>">View All</a></span>


                    <% }else{ %>
                    <span class="label label-default">0 Submission</span>
                    <% } %>

                </div>
            </div>
        </div>

    </div>
</div>

<!-- footer -->
<% include ../templates/footer.ejs %>


<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap-filestyle.min.js"></script>
<script>

    $(document).ready(function(e) {


        $('#usc').on('submit', function (ev) {

            $('<input />').attr('type', 'hidden')
                    .attr('name', "language")
                    .attr('value', document.getElementById("language").value)
                    .appendTo('#usc');

            return true;
        });


            $(":file").filestyle({
            icon: false,
            buttonText: "SOURCE..",
            buttonName: "btn-dark",
            buttonBefore: true,
            placeholder: "No File Selected..",
            size: "sm"
        });
    });

    function opo(x){
        return x+' ji';
    }



</script>


</body>
</html>