<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JUST Online Judge</title>

    <% include ../../templates/head.ejs %>


    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css">

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.min.js"></script>

</head>
<body>


<!-- header and menu -->
<% include ../../templates/header.ejs %>


<!-- Main Content -->
<div class="container c-h">


    <div class="col-md-12">
        <% if (successMsg.length) { %>
            <div class="col-md-6 col-md-offset-3">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <%= successMsg %>
                </div>
            </div>
        <% }else if (errMsg.length) { %>
            <div class="col-md-6 col-md-offset-3">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <%= errMsg %>
                </div>
            </div>
        <% } %>

        <% if (rsuccessMsg.length) { %>
            <div class="col-md-6 col-md-offset-3">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <%= rsuccessMsg %>
                </div>
            </div>
        <% }else if (rerrMsg.length) { %>
            <div class="col-md-6 col-md-offset-3">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <%= rerrMsg %>
                </div>
            </div>
        <% } %>

    </div>

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">

                    <h3>Add Test Cases</h3>


                        <h5> <%= data.length %> Test Case Added</h5>
                        <!--<div id="caseremovingDiv"><img src="/images/ajax-loader.gif"> <b>Deleting...</b></div>-->

                            <table class="table">
                                <tbody id="caselist">

                                    <% for(var i=0; i<data.length; i++){ %>
                                        <tr>
                                            <td class="col-md-4">
                                                <input type='button' class="btn btn-primary btn-xs remove btn-danger" value="remove"  >
                                            </td>
                                            <td>
                                                Test Case:  <%= i+1 %>
                                            </td>
                                            <input type="hidden" value="<%= data[i] %>" />
                                        </tr>
                                    <% } %>

                                </tbody>
                            </table>


                <div class="well well-sm">
                    <form method="post" action="/problems/edit/<%= pid %>/2" name="cases" id="cases" enctype="multipart/form-data" >
                        <table class="table">
                            <thead>
                            <tr>
                                <th>
                                    INPUT FILE
                                </th>
                                <th>
                                    OUTPUT FILE
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <input type='file' id='fileinput' form="cases"  accept="text/plain"  name="input" class="btn btn-primary btn-sm" style="background: #87CEEE" >
                                </td>
                                <td>
                                    <input type='file' id='fileinput' form="cases" accept="text/plain"  name="output" class="btn btn-primary btn-sm" style="background: #87CEEE" >
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type='submit' class="btn btn-primary btn-sm" value="ADD" >
                                </td>
                                <td></td>
                            </tr>
                            </tbody>

                        </table>
                    </form>
                </div>
            </div>
        </div>

    </div>


    <div class="col-md-6" style="margin-bottom: 30px;">
        <a href="/problems/edit/<%= pid %>/3" style="color: #FFFFFF;"><button  class="btn btn-primary"> Save And Continue</button></a>
    </div>

    <script type="text/javascript">

        $(document).ready(function() {

            //remove TC
            $(document).on('click', '.remove', function () {
                var a = $(this).parent().parent();

                var remName = null;
                for(var i=0; i<a[0].childNodes.length; i++){
                    if(a[0].childNodes[i].type == 'hidden'){
                        remName = a[0].childNodes[i].value;
                        break;
                    }
                }

                if( remName ){
                    submitRemoveReq(<%= pid %>,remName);
                }else{
                    alert('No test case selected!');
                }
            });

        });

        function submitRemoveReq(cPid, cName) {
            var form = document.createElement("form");
            var element1 = document.createElement("input");
            var element2 = document.createElement("input");

            form.method = "POST";
            form.action = "/problems/rtc/";

            element1.value = cPid;
            element1.name = "pid";
            form.appendChild(element1);

            element2.value = cName;
            element2.name = "casename" ;
            form.appendChild(element2);

            document.body.appendChild(form);

            form.submit();
        }


    </script>

</div>



<!-- footer -->
<% include ../../templates/footer.ejs %>

</body>
</html>