<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <script type="text/javascript" src="../javascripts/jquery-2.1.4.min.js"></script>

    <link rel="stylesheet" href="/stylesheets/style.css">

    <link rel="stylesheet" href="/font-awesome-4.5.0/css/font-awesome.min.css" >

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css">
    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>


</head>
<body>


<!-- header and menu -->
<% include templates/header.ejs %>
<% if(!isLoggedIn){ %>
<li><a href="/login"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> LOGIN</a></li>
<li><a href="/resister"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> RESISTER</a></li>
<% } else{ %>
<li><a href="/logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> LOGOUT</a></li>
<li><a href="/#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= user.name %> </a></li>
<% } %>
<% include templates/headerend.ejs %>


<!-- Main Content -->
<div class="container">

    <div class="row">

        <div class="col-md-8">
            <div class="panel panel-default" style="border: none">
                <div class="panel-body">
                    <div id="viewp"></div>
                </div>
            </div>
        </div>


        <script>

            $(document).ready(function() {
                document.getElementById('viewp').innerHTML = getProblem();
            });

            function getProblem(){
                var htmls = '<h3 id="h3">';
                htmls += <%- problem.name %>;
                htmls += '</h3>';
                htmls += '<p style="font-size: 84%; line-height: 1.1px;">';
                htmls += 'Time: ';
                htmls += <%- problem.memorylimit %>;
                htmls += 's , Memory: ';
                htmls += <%- problem.timelimit %>;
                htmls += 'MB';
                htmls += '</p></br>';
                htmls += '<p>';
                htmls +=  <%- problem.statement %>;
                htmls += '</p>';
                htmls += '<h3 id="h3">Sample</h3>';
                htmls += '<table class="table" style="padding: 0px; margin: 0px">';
                htmls += '<tbody style="padding: 0px; margin: 0px">';
                htmls += '<tr>';
                htmls += '<th style="border: none">Input</th>';
                htmls += '<th style="border: none">Output</th>';
                htmls += '</tr>';
                htmls += '<tr>';
                htmls += '<td class="col-md-1" style="border: none"><pre>';
                htmls += <%- problem.input %>;
                htmls += '</td></pre>';
                htmls += '<td class="col-md-1" style="border: none"><pre>';
                htmls += <%- problem.output %>;
                htmls += '</td></pre>';
                htmls += '</tr>';
                htmls += '</tbody>';
                htmls += '</table>';
                return htmls;
            }

        </script>


    </div>

</div>

<!-- footer -->
<% include templates/footer.ejs %>

</body>
</html>