

    <div class="container contest-container">
        <div class="panel-body">
            <h3 style="margin: 10px 0px 5px 0px"><%= contest.title %></h3>
            <div id="countdown" style="font-size: 18px; font-weight: 200; margin-bottom: 8px;  "></div>
        </div>
    </div>

    <div class="content container" style="padding-top: 0px;">

<!-- Main Content -->

    <div class="row">
        <div class="c-h">

            <div class="contest-navbar navbar navbar-default navbar-static-top"  role = "navigation">

                    <!-- Web heading/logo -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle"  data-toggle="collapse" data-target="#contest-main-nav">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="contest-main-nav" >
                        <ul class="nav navbar-nav" id="contest-navbar">
                            <li><a href="/contest/<%= contest.id %>">Problems</a></li>
                            <li>
                                <a href="/contest/<%= contest.id %>/clarifications/all">Clarifications</a>

                            </li>
                            <li><a href="/contest/<%= contest.id %>/standings">Standings</a></li>
                            <li><a href="/contest/<%= contest.id %>/submissions">Submissions</a></li>
                        </ul>
                    </div>

            </div>