<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JUST Online Judge</title>

    <% include ../templates/head.ejs %>

    <script src="https://code.highcharts.com/highcharts.src.js"></script>

</head>
<body>


<!-- header and menu -->
<% include ../templates/header2.ejs %>


<!-- Main Content -->
<div class="content container" style="min-height: 550px;">

    <div class="row">

        <div class="col-md-8">

            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="col-md-4">
                        <div class="profile-pic-container">
                            <div class="profile-pic-img">
                                <img class="img-thumbnail" src="<%= profile.profilePicture %>" />
                                <h5 class="profile-name-container">
                                    <span class="profile-name"><%= profile.userData.name %></span>
                                    <br/>
                                    (<a href="/user/<%= profile.userData.username %>" ><%= profile.userData.username %></a>)
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <p>Joined: <%= moment(profile.userData.joined).format("MMM D, YYYY") %></p>
                    </div>

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">SUBMISSIONS</div>
                <div class="panel-body">
                    <div id="chart-container"></div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                </div>
            </div>
        </div>


    </div>

</div>

<script>

    $(document).ready(function () {

        Highcharts.chart('chart-container', {
            credits:{
                enabled: false
            },
            colors: ['#f15c80', '#39ca1c', '#8B572A', '#ff9999', '#ffcc66',
                '#ffa366' ],
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: ''
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.y}</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    marker: {
                        enabled: true
                    },
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}: {point.y}'
                    },
                    point:{
                        events : {
                            legendItemClick: function(e){
                                e.preventDefault();
                            }
                        }
                    },
                    showInLegend: true
                }
            },
            series: [{
                name: 'Count',
                colorByPoint: true,
                data: [{
                    name: 'Wrong Answer',
                    y: <%= profile.submissionHistory.wa %>
                }, {
                    name: 'Accepted',
                    y: <%= profile.submissionHistory.accepted %>,
                    sliced: true,
                    selected: true
                }, {
                    name: 'Runtime Error',
                    y: <%= profile.submissionHistory.re %>
                }, {
                    name: 'Time Limit Exceeded',
                    y: <%= profile.submissionHistory.tle %>
                }, {
                    name: 'Memory Limit Exceeded',
                    y: <%= profile.submissionHistory.mle %>
                }, {
                    name: 'Compilation Error',
                    y: <%= profile.submissionHistory.ce %>
                }]
            }]
        });
    });

</script>


<!-- footer -->
<% include ../templates/footer.ejs %>

</body>
</html>