<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JUST Online Judge</title>

    <% include ../templates/head.ejs %>

    <script src="https://code.highcharts.com/highcharts.src.js"></script>

</head>
<body>


<!-- header and menu -->
<% include ../templates/header2.ejs %>


<!-- Main Content -->
<div class="content container" style="min-height: 550px;">

    <div class="row">

        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">

                    <%= username %>

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">SUBMISSIONS</div>
                <div class="panel-body">

                    <div id="container"></div>

                </div>
            </div>

        </div>


    </div>

</div>

<script>

    $(document).ready(function () {

        Highcharts.chart('container', {
            credits:{
                enabled: false
            },
            colors: ['#7cb5ec', '#90ed7d', '#434348', '#f7a35c', '#8085e9',
                '#f15c80' ],
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: ''
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.y}</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    marker: {
                        enabled: true
                    },
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}: {point.y}'
                    },
                    point:{
                        events : {
                            legendItemClick: function(e){
                                e.preventDefault();
                            }
                        }
                    },
                    showInLegend: true
                }
            },
            series: [{
                name: 'Count',
                colorByPoint: true,
                data: [{
                    name: 'Wrong Answer',
                    y: <%= profile.submissionHistory.wa %>
                }, {
                    name: 'Accepted',
                    y: <%= profile.submissionHistory.accepted %>,
                    sliced: true,
                    selected: true
                }, {
                    name: 'Runtime Error',
                    y: <%= profile.submissionHistory.re %>
                }, {
                    name: 'Time Limit Exceeded',
                    y: <%= profile.submissionHistory.tle %>
                }, {
                    name: 'Memory Limit Exceeded',
                    y: <%= profile.submissionHistory.mle %>
                }, {
                    name: 'Compilation Error',
                    y: <%= profile.submissionHistory.ce %>
                }]
            }]
        });
    });

</script>


<!-- footer -->
<% include ../templates/footer.ejs %>

</body>
</html>