<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JUST Online Judge</title>

    <% include ../templates/head.ejs %>

    <link rel="stylesheet" href="/stylesheets/bootstrap-social.css">
    <script src="https://code.highcharts.com/highcharts.src.js"></script>

</head>
<body>


<!-- header and menu -->
<% include ../templates/header2.ejs %>


<!-- Main Content -->
<div class="content container" style="min-height: 550px;">

    <div class="row">

        <div class="col-md-4">

            <div class="panel panel-default">

                <% if(isLoggedIn && user.id === profile.userData.id){ %>
                    <div class="panel-heading">
                        <a href="/user/settings/profile" class="pull-right" ><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        <div class="clearfix"></div>
                    </div>
                <% } %>

                <div class="panel-body">

                    <div class="profile-pic-container">
                        <div class="profile-pic-img">
                            <img class="img-thumbnail" src="<%= profile.profilePicture %>" />
                            <h5 class="profile-name-container">
                                <span class="profile-name"><%= profile.userData.name %></span>
                                <br/>
                                (<a href="/user/<%= profile.userData.username %>" ><%= profile.userData.username %></a>)
                            </h5>
                        </div>
                    </div>

                    <div class=" text-center panel-heading">

                        <%
                        scLink = '#';
                        isDisabled = 'disabled-link';
                        if(profile.userData.fb_id.length){
                            scLink = 'https://www.facebook.com/' + profile.userData.fb_id;
                            isDisabled = '';
                        }
                        %>
                        <a target="_blank" href="<%= scLink %>" class="btn btn-social-icon btn-facebook <%= isDisabled %>">
                            <span class="fa fa-facebook"></span>
                        </a>

                        <%
                        scLink = '#';
                        isDisabled = 'disabled-link';
                        if(profile.userData.google_id.length){
                            scLink = 'https://plus.google.com/' + profile.userData.google_id;
                            isDisabled = '';
                        }
                        %>
                        <a target="_blank" href="<%= scLink %>" class="btn btn-social-icon btn-google <%= isDisabled %>">
                            <span class="fa fa-google-plus"></span>
                        </a>

                        <%
                        scLink = '#';
                        isDisabled = 'disabled-link';
                        if(profile.userData.linkedin_id.length){
                            scLink = 'https://www.linkedin.com/in/' + profile.userData.linkedin_id;
                            isDisabled = '';
                        }
                        %>
                        <a target="_blank" href="<%= scLink %>" class="btn btn-social-icon btn-linkedin <%= isDisabled %>">
                            <span class="fa fa-linkedin"></span>
                        </a>
                    </div>

                    <table class="table table-responsive no-margin-bottom">
                        <tbody>

                            <% if(profile.userData.website && profile.userData.website.length){ %>
                            <tr>
                                <td class="text-center">
                                    <i class="fa fa-link" aria-hidden="true"></i>&nbsp; <a target="_blank" href="<%= profile.userData.website %>">
                                        <%= profile.userData.website %>
                                    </a>
                                </td>
                            </tr>
                            <% } %>

                            <% if(profile.userData.role != 'genuser' && profile.userData.publicemail){ %>
                            <tr>
                                <td class="text-center">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp; <a target="_blank" href="mailto:<%= profile.userData.email %>">
                                        <%= profile.userData.email %>
                                    </a>
                                </td>
                            </tr>
                            <% } %>


                            <% if(profile.userData.institute && profile.userData.institute.length){ %>
                            <tr>
                                <td class="text-center">
                                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp; <%= profile.userData.institute %>
                                </td>
                            </tr>
                            <% } %>

                            <% if(profile.userData.country && profile.userData.country.length){ %>
                            <tr>
                                <td class="text-center">
                                    <i class="fa fa-globe" aria-hidden="true"></i>&nbsp; <%= profile.userData.country %>
                                </td>
                            </tr>
                            <% } %>

                            <% if(profile.userData.city && profile.userData.city.length){ %>
                            <tr>
                                <td class="text-center">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp; <%= profile.userData.city %>
                                </td>
                            </tr>
                            <% } %>

                            <tr>
                                <td class="text-center">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp; Joined on <%= moment(profile.userData.joined).format("MMM D, YYYY") %>
                                </td>
                            </tr>




                        </tbody>
                    </table>

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading"><span class="fa fa-github"></span> Github</div>
                <% if(profile.userData.social.length && profile.userData.social[0]){ %>
                <div class="panel-body">
                    <div class="col-md-6 text-center">
                        <div class="clearfix">Repositories</div>
                        <h3 class="no-margin-top text-bold"><%= profile.userData.social[0].repos %></h3>
                    </div>
                    <div class="col-md-6 text-center">
                        <div class="clearfix">Followers</div>
                        <h3 class="no-margin-top text-bold"><%= profile.userData.social[0].followers %></h3>
                    </div>
                </div>
                <%  }else{ %>
                    <div class="panel-body text-center">
                        <div class="help-block">Not connected</div>
                    </div>
                <%  } %>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading"><span class="fa fa-stack-overflow"></span> Stackoverflow</div>
                <% if(profile.userData.social.length > 1 && profile.userData.social[1]){ %>
                <div class="panel-body">
                    <div class="col-md-4 text-center">
                        <div class="clearfix">Reputation</div>
                        <h3 class="no-margin-top text-bold"><%= profile.userData.social[1].reputation %></h3>
                    </div>
                    <div class="col-md-8 text-center">
                        <i class="fa fa-trophy trophy-gold" aria-hidden="true"></i> <%= profile.userData.social[1].badges.gold %>
                        <i class="fa fa-trophy trophy-silver" aria-hidden="true"></i> <%= profile.userData.social[1].badges.silver %>
                        <i class="fa fa-trophy trophy-bronze" aria-hidden="true"></i> <%= profile.userData.social[1].badges.bronze %>
                    </div>
                </div>
                <%  }else{ %>
                <div class="panel-body text-center">
                    <div class="help-block">Not connected</div>
                </div>
                <%  } %>
            </div>


        </div>

        <div class="col-md-8">

            <div class="panel panel-default">
                <table class="table table-responsive">
                    <tbody>
                    <tr>
                        <td class="text-center">Contests</td>
                        <td class="text-center">Submissions</td>
                        <td class="text-center">Accepted</td>
                        <td class="text-center">Problem Solved</td>
                    </tr>
                    <tr style="font-size: 22px; font-weight: 600; color: #4a5868;">
                        <td class="text-center"><%= profile.contestHistory.length %></td>
                        <td class="text-center"><%= profile.submissionHistory.totalSubmission %></td>
                        <td class="text-center"><%= profile.submissionHistory.accepted %></td>
                        <td class="text-center"><%= profile.submissionHistory.solved %></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Contest History</div>


                <% if(profile.contestHistory.length){ %>
                <ul class="list-group">
                    <% for(var i=0;i<profile.contestHistory.length; i++){ %>
                    <li class="list-group-item" style="padding: 15px 15px;">
                            Participated in <a href="/contests/<%= profile.contestHistory[i].cid %>"><%- profile.contestHistory[i].title %></a>
                            <span class="pull-right" style="color: #808080"><%= moment(profile.contestHistory[i].begin).from() %></span>
                    </li>
                    <% } %>
                </ul>
                <% }else{ %>
                <div class="panel-body text-center">
                    <h5>Not participated in any contest yet.</h5>
                </div>
                <% } %>

            </div>


            <div class="panel panel-default">
                <div class="panel-heading">Solved Problems</div>
                <div class="panel-body">
                <% if(profile.solvedList.length){ %>
                    <% for(var i=0; i<profile.solvedList.length; i++){ %>
                        <a class="label label-default" style="padding: 4px 12px; line-height: 2.6" href="/problems/JOP0<%= profile.solvedList[i] %>">JOP0<%= profile.solvedList[i] %></a>
                    <% } %>
                <% }else{ %>
                        <h5>-</h5>
                <% } %>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Submissions</div>
                <div class="panel-body">
                    <div id="chart-container"></div>
                </div>
            </div>

        </div>


    </div>

</div>


<script>

    $(document).ready(function () {

        Highcharts.chart('chart-container', {
            credits:{
                enabled: false
            },
            colors: ['#f15c80', '#39ca1c', '#8B572A', '#ff9999', '#ffcc66',
                '#ffa366' ],
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: ''
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.y}</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    marker: {
                        enabled: true
                    },
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}: {point.y}'
                    },
                    point:{
                        events : {
                            legendItemClick: function(e){
                                e.preventDefault();
                            }
                        }
                    },
                    showInLegend: true
                }
            },
            series: [{
                name: 'Count',
                colorByPoint: true,
                data: [{
                    name: 'Wrong Answer',
                    y: <%= profile.submissionHistory.wa %>
                }, {
                    name: 'Accepted',
                    y: <%= profile.submissionHistory.accepted %>,
                    sliced: true,
                    selected: true
                }, {
                    name: 'Runtime Error',
                    y: <%= profile.submissionHistory.re %>
                }, {
                    name: 'Time Limit Exceeded',
                    y: <%= profile.submissionHistory.tle %>
                }, {
                    name: 'Memory Limit Exceeded',
                    y: <%= profile.submissionHistory.mle %>
                }, {
                    name: 'Compilation Error',
                    y: <%= profile.submissionHistory.ce %>
                }]
            }]
        });
    });

</script>


<!-- footer -->
<% include ../templates/footer.ejs %>

</body>
</html>