<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JUST Online Judge</title>

    <% include ../../templates/head.ejs %>


</head>
<body>


<!-- header and menu -->
<% include ../../templates/header2.ejs %>


<div class="text-center contest-banner">
    <div class="container">
        <div class="col-md-12">
            <h1 class="no-margin-top text-bold"><%= contest.title %></h1>
            <br>
            <p>
                <% if(state === 'scheduled'){ %>
                    Starts In
                <% }else{ %>
                    <%= state %>
                <% } %>
            </p>
            <div id="countdown" style="font-size: 30px; font-weight: 200; margin-bottom: 15px;  "></div>
        </div>
    </div>
</div>

<!-- Main Content -->
<div class="content container c-h">
    <div class="text-center">

            <% if(state !== 'scheduled'){ %>
                <a class="btn btn-primary btn-lg" href="/contests/<%= contest.id %>">Enter</a>
            <% }else{ %>
                <% if(contest.privacy){ %>
                    <% if(!isLoggedIn){ %>
                    <a class="btn btn-primary btn-lg" href="/login">Login To Resister</a>
                    <% }else if(user.role === 'admin'){ %>
                    <a class="btn btn-primary" href="/contests/edit/<%= contest.id %>">EDIT</a>
                    <% }else if(!registered){ %>
                    <a class="btn btn-primary btn-lg" href="/contests/<%= contest.id %>/resister">Resister</a>
                    <% }else{ %>
                    <h5>You Are Perticipating in this contest</h5>
                    <% } %>
                <% }else{ %>
                    <h4>
                        <i class="fa fa-lock" aria-hidden="true"></i> It's a Private Contest. Only invited participants are allowed.
                    </h4>
                <% } %>
            <% } %>

    </div>
</div>

<script type="text/javascript" src="/javascripts/pageFunctions/Countdown.js"></script>
<script type="text/javascript">
    $( document ).ready(function() {
        CountDownTimer('<%= contest.end %>',document.getElementById("countdown"));
    });
</script>

<!-- footer -->
<% include ../../templates/footer.ejs %>

</body>
</html>