<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JUST Online Judge</title>

    <% include ../../templates/head.ejs %>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>

</head>
<body>

<!-- header and menu -->
<% include ../../templates/header.ejs %>

<% include ../../templates/contest_header.ejs %>

<div class="panel-body" id="db-lg">
    <div class="col-md-10 contest-p-list">
        <h4>Problems</h4>
        <% var ch = "abcdefghijklmnopqrstuvwxyz"; %>

        <% for(var i= 0; i<problems.length; i++){ %>

        <% if(isLoggedIn && registered){ %>
            <% if(problems[i].yousolved !== -1){ %>
                <a href="/contest/<%= contest.id %>/problem/<%= problems[i].pid %>" class="list-group-item" style="border-left: 2px solid lawngreen; ">
                    <% }else if(problems[i].youtried !== -1){ %>
                    <a href="/contest/<%= contest.id %>/problem/<%= problems[i].pid %>" class="list-group-item" style="border-left: 2px solid indianred">
                        <% }else{ %>
                        <a href="/contest/<%= contest.id %>/problem/<%= problems[i].pid %>" class="list-group-item">
                            <% } %>
        <% }else{ %>
                    <a href="/contest/<%= contest.id %>/problem/<%= problems[i].pid %>" class="list-group-item">
                        <% } %>

                        <span class="label label-default pull-right">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                    x <%= problems[i].accepted %>
                            </span>
                        <h5 style="font-weight: 600">
                            <%= ch.charAt(i).toUpperCase() %>. <%= problems[i].title %>
                        </h5>
                    </a>
         <% } %>
    </div>
</div>

</div>
</div>
</div>


<script type="text/javascript" src="/javascripts/pageFunctions/Countdown.js"></script>
<script type="text/javascript">
    $( document ).ready(function() {
        CountDownTimer('<%= contest.end %>',document.getElementById("countdown"));
    });
</script>

<!-- footer -->
<% include ../../templates/footer.ejs %>

</body>
</html>