<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JUST Online Judge</title>

    <% include ../../templates/head.ejs %>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
</head>
<body>

<!-- header and menu -->
<% include ../../templates/header.ejs %>

<% include ../../templates/contest_header.ejs %>

                <div class="panel-body" id="db-lg">
                    <h4>Problems</h4>
                    <% var ch = "abcdefghijklmnopqrstuvwxyz"; %>

                    <% for(var i= 0; i<problems.length; i++){ %>

                        <% if(isLoggedIn && registered){ %>
                            <% if(problems[i].yousolved !== -1){ %>
                                <a href="/contest/<%= contest.id %>/problem/<%= problems[i].pid %>" class="list-group-item" style="border-left: 3px solid lawngreen">
                            <% }else if(problems[i].youtried !== -1){ %>
                                <a href="/contest/<%= contest.id %>/problem/<%= problems[i].pid %>" class="list-group-item" style="border-left: 3px solid indianred">
                            <% }else{ %>
                                <a href="/contest/<%= contest.id %>/problem/<%= problems[i].pid %>" class="list-group-item">
                            <% } %>
                        <% }else{ %>
                            <a href="/contest/<%= contest.id %>/problem/<%= problems[i].pid %>" class="list-group-item">
                        <% } %>

                            <span class="label label-default pull-right">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                    x <%= problems[i].accepted %>
                            </span>
                            <h5 style="font-weight: 600">
                                <%= ch.charAt(i).toUpperCase() %>. <%= problems[i].title %>
                            </h5>
                        </a>
                    <% } %>

                </div>

        </div>
    </div>
</div>

<script type="text/javascript">


    window.onload = function () {
        CountDownTimer('<%= contest.end %>');
    };

    function CountDownTimer(begin) {

        var end = new Date(begin);

        var _second = 1000;
        var _minute = _second * 60;
        var _hour = _minute * 60;
        var _day = _hour * 24;
        var timer;
        var running = false;
        var doc =  document.getElementById("countdown");

        function showRemaining() {
            var now = new Date();

            var distance = end - now;

            if (distance < 0) {

                clearInterval(timer);
                document.getElementById("cd-h").innerHTML = '';
                doc.innerHTML = 'Finished<br>' + "<p style='font-size:14px;'><%= moment(contest.end).from() %></p>";


                if( running ) {
                    alert('Contest Finished!');
                }
                return;
            }
            var days = Math.floor(distance / _day);
            var hours = Math.floor((distance % _day) / _hour);
            var minutes = Math.floor((distance % _hour) / _minute);
            var seconds = Math.floor((distance % _minute) / _second);


            doc.innerHTML = days <=0 ? '' : days + 'd ';
            doc.innerHTML += Math.floor(hours/10) + '' +  hours%10 + ':';
            doc.innerHTML += Math.floor(minutes/10) + '' +  minutes%10 + ':';
            doc.innerHTML += Math.floor(seconds/10) + '' +  seconds%10;


            running = true;
        }
        showRemaining();
        timer = setInterval(showRemaining, 1000);
    }

</script>

<!-- footer -->
<% include ../../templates/footer.ejs %>

</body>
</html>