<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JUST Online Judge</title>

    <% include ../../templates/head.ejs %>

</head>
<body>

<!-- header and menu -->
<% include ../../templates/header.ejs %>

<% include ../../templates/contest_header.ejs %>

<% if (formError.length) { %>
<div class="col-md-6 col-md-offset-3">
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= formError %>
    </div>
</div>
<% } %>

<div class="panel-body">

    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-body">

                <h3 id="h3"><%- contest.probTitle %></h3>

                <p style="font-size: 84%; line-height: 1.1px;">
                    CPU: <%= (contest.cpu/1000.0) %>s |
                    Memory: <%= contest.memory %>KB
                </p><br>

                <p>
                    <%- contest.statement %>
                </p>

                <h3 id="h3">Sample</h3>

                <table class="table" style="padding: 0px; margin: 0px">
                    <thead>
                    <tr>
                        <th style="border: none">Input</th>
                        <th style="border: none">Output</th>
                    </tr>
                    </thead>
                    <tbody style="padding: 0px; margin: 0px">
                    <tr>
                        <td class="col-md-1 codePre"><%- contest.input %></td>
                        <td class="col-md-1 codePre"><%- contest.output %></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>


    <% if(running && isLoggedIn && registered){ %>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Submit</h4>

                <form method="post" name="contestSubmit" id="contest-pform" action="/contest/<%= contest.id %>/submit/<%= contest.pid %>" enctype="multipart/form-data" >

                    <div class="form-group">
                        <select class="form-control" id="language"  >
                            <option value="c">C</option>
                            <option value="cpp">C++</option>
                            <option value="java">JAVA</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="file" name="source" >
                    </div>

                    <input type='submit' class="btn btn-primary" style="padding: 6px 10px;" value="Submit" >

                </form>


                <% if(submissions.length){ %>

                <br>
                <table class="table" style="font-size: 12px;">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% for(var i=0; i<submissions.length; i++){ %>
                    <tr>
                        <td title="<%= submissions[i].submittime %>"><%= moment(submissions[i].submittime).from() %></td>
                        <td>

                            <% var st = parseInt(submissions[i].status); console.log(st); %>
                            <% if(st === 0){ %>
                            <span class="label label-success">
                                <% }else if(st === 5){ %>
                                <span class="label label-default">
                                    <% }else if(st === 6){ %>
                                    <span class="label label-info">
                                        <% }else if(st === 8){ %>
                                        <span class="label label-warning">
                                            <% }else{ %>
                                            <span class="label label-danger">
                                                <% } %>
                                                <%= runStatus[st] %>
                                            </span>
                        </td>
                    </tr>
                    <% } %>
                    </tbody>
                </table>
                <% } %>

            </div>
        </div>
    </div>
    <% } %>


</div>
</div>
</div>
</div>


<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-filestyle/1.2.1/bootstrap-filestyle.min.js"></script>
<script type="text/javascript" src="/javascripts/pageFunctions/Countdown.js"></script>
<script type="text/javascript">
    $( document ).ready(function() {

        CountDownTimer('<%= contest.end %>',document.getElementById("countdown"));

        $('#contest-pform').on('submit', function (ev) {

            $('<input />').attr('type', 'hidden')
                    .attr('name', "language")
                    .attr('value', document.getElementById("language").value)
                    .appendTo('#contest-pform');

            return true;
        });

        $(":file").filestyle({
            icon: false,
            buttonText: "Source..",
            buttonName: "btn-dark",
            buttonBefore: true,
            placeholder: "No File Selected..",
            size: "sm"
        });

    });
</script>


<!-- footer -->
<% include ../../templates/footer.ejs %>

</body>
</html>