<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JUST Online Judge</title>

    <% include ../../templates/head.ejs %>

</head>
<div>

<!-- header and menu -->
<% include ../../templates/header2.ejs %>

<% include ../../templates/contest_header.ejs %>

<% if (formError.length) { %>
<div class="col-md-6 col-md-offset-3">
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= formError %>
    </div>
</div>
<% } %>

<div class="panel-body" style="min-height: 400px;">

    <div class="col-md-9">


                <h3 id="h3"><%- contest.probTitle %></h3>

                <p style="font-size: 84%; line-height: 1.1px;">
                    CPU: <%= (contest.cpu/1000.0) %>s |
                    Memory: <%= contest.memory %>KB
                </p><br>

                <p>
                    <%- contest.statement %>
                </p>

                <h3 id="h3">Sample</h3>

                <table class="table" style="padding: 0px; margin: 0px">
                    <thead>
                    <tr>
                        <th style="border: none">Input</th>
                        <th style="border: none">Output</th>
                    </tr>
                    </thead>
                    <tbody style="padding: 0px; margin: 0px">
                    <tr>
                        <td class="col-md-1 codePre"><%- contest.input %></td>
                        <td class="col-md-1 codePre"><%- contest.output %></td>
                    </tr>
                    </tbody>
                </table>

    </div>


    <% if(running){ %>
        <% if(isLoggedIn){ %>

                <% if(registered){ %>

                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-body">

                                <h5><i class="fa fa-external-link" aria-hidden="true"></i> Submit</h5>

                                    <form method="post" name="contestSubmit" id="contest-pform" action="/contests/<%= contest.id %>/submit/<%= contest.pid %>" enctype="multipart/form-data" >

                                        <div class="form-group">
                                            <select class="form-control" id="language"  >
                                                <option value="c">C</option>
                                                <option value="cpp">C++</option>
                                                <option value="java">JAVA</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <input type="file" name="source" >
                                        </div>
                                        <input type="hidden" name="problem" value="<%= contest.pid %>" >
                                        <input type="hidden" name="contest" value="<%= contest.id %>" >
                                        <input type='submit' class="btn btn-primary" style="padding: 6px 10px;" value="Submit" >

                                    </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h5><i class="fa fa-clock-o" aria-hidden="true"></i> My Last Submissions</h5>


                                    <% if(isLoggedIn && submissions.length){ %>
                            </div>
                                                <table class="table" style="font-size: 12px;">
                                                    <thead>
                                                    <tr>
                                                        <th>Date</th>
                                                        <th>Language</th>
                                                        <th>Status</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <% for(var i=0; i<submissions.length; i++){   %>
                                                    <tr>
                                                        <td title="<%= submissions[i].submittime %>"><%= moment(submissions[i].submittime).from() %></td>
                                                        <td><%= submissions[i].language %></td>
                                                        <td>

                                                            <% var st = parseInt(submissions[i].status); console.log(st); %>
                                                            <% if(st === 0){ %>
                                                            <span class="label label-success">
                                                                <% }else if(st === 5){ %>
                                                                <span class="label label-default">
                                                                    <% }else if(st === 6){ %>
                                                                    <span class="label label-info">
                                                                        <% }else if(st === 8){ %>
                                                                        <span class="label label-warning">
                                                                            <% }else{ %>
                                                                            <span class="label label-danger">
                                                                                <% } %>
                                                                                <%= runStatus[st] %>
                                                                            </span>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td><a href="/contests/<%= contest.id %>/submission?username=<%= user.username %>&problem=<%= contest.pid %>" class="btn btn-xs" >View All</a> </td>
                                                    </tr>
                                                    </tbody>
                                                </table>

                                <% }else{ %>
                                    <span class="label label-default">No Submission Found</span>
                        </div>
                                <% } %>


                        </div>
                    </div>
                <% } %>

        <% }else{ %>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h5><i class="fa fa-external-link" aria-hidden="true"></i> Submit</h5>
                            <a class="btn btn-primary" href="/login/?redirect=/contests/<%= contest.id %>/problem/<%= contest.pid %>">Login</a>
                        </div>
                    </div>
                </div>
        <% } %>
    <% } %>

</div>

<!-- ending of contest header  -->
</div>
</div>
</div>
</div>


<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-filestyle/1.2.1/bootstrap-filestyle.min.js"></script>
<script type="text/javascript" src="/javascripts/pageFunctions/Countdown.js"></script>
<script type="text/javascript">
    $( document ).ready(function() {

        CountDownTimer('<%= contest.end %>',document.getElementById("countdown"));

        $('#contest-pform').on('submit', function (ev) {

            $('<input />').attr('type', 'hidden')
                    .attr('name', "language")
                    .attr('value', document.getElementById("language").value)
                    .appendTo('#contest-pform');

            return true;
        });

        $(":file").filestyle({
            icon: false,
            buttonText: "Source..",
            buttonName: "btn-dark",
            buttonBefore: true,
            placeholder: "No File Selected..",
            size: "sm"
        });

    });
</script>


<!-- footer -->
<% include ../../templates/footer.ejs %>

</body>
</html>