<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JUST Online Judge</title>

    <script type="text/javascript" src="/javascripts/jquery-2.1.4.min.js"></script>

    <link rel="stylesheet" href="/stylesheets/style.css">

    <link rel="stylesheet" href="/font-awesome-4.5.0/css/font-awesome.min.css" >

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css">
    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>

</head>

<body style="background: #fcfcfc;">

<% include ../../templates/contest_header.ejs %>

<!-- Main Content -->
<div class="container c-h" >

    <div class="row">

        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">

                    <h3 id="h3"><%- contest.probTitle %></h3>

                    <p style="font-size: 84%; line-height: 1.1px;">
                        CPU: <%= (contest.cpu/1000.0) %>s |
                        Memory: <%= contest.memory %>KB
                    </p><br>

                    <p>
                        <%- contest.statement %>
                    </p>

                    <h3 id="h3">Sample</h3>

                    <table class="table" style="padding: 0px; margin: 0px">
                        <thead>
                        <tr>
                            <th style="border: none">Input</th>
                            <th style="border: none">Output</th>
                        </tr>
                        </thead>
                        <tbody style="padding: 0px; margin: 0px">
                        <tr>
                            <td class="col-md-1 codePre"><%- contest.input %></td>
                            <td class="col-md-1 codePre"><%- contest.output %></td>
                        </tr>
                        </tbody>
                    </table>


                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <h5 id="cd-h">ENDS IN</h5>
                    <div id="countdown" style="font-size: 20px; font-weight: 200"></div>
                </div>
            </div>
        </div>


        <% if(running && isUser && registered){ %>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <h4>Submit</h4>

                        <form method="post" name="contestSubmit" id="contest-pform" action="/contest/<%= contest.id %>/submit/<%= contest.pid %>" enctype="multipart/form-data" >

                            <div class="form-group">
                                <select class="form-control" id="language"  >
                                    <option value="c">C</option>
                                    <option value="cpp">C++</option>
                                    <option value="java">JAVA</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <input type="file" name="source" >
                            </div>

                            <input type='submit' class="btn btn-primary" style="padding: 6px 10px;" value="SUBMIT" >

                        </form>


                        <% if(submissions.length){ %>

                        <br>
                        <table class="table" style="font-size: 12px;">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% for(var i=0; i<submissions.length; i++){ %>
                            <tr>
                                <td title="<%= submissions[i].submittime %>"><%= moment(submissions[i].submittime).from() %></td>
                                <td>

                                    <% var st = parseInt(submissions[i].status); %>
                                    <% if(st === 0){ %>
                                    <span class="label label-success">
                                        <% }else if(st === 5){ %>
                                        <span class="label label-default">
                                            <% }else if(st === 6){ %>
                                            <span class="label label-info">
                                                <% }else if(st === 8){ %>
                                                <span class="label label-warning">
                                                    <% }else{ %>
                                                    <span class="label label-danger">
                                                        <% } %>
                                                        <%= runStatus[st] %>
                                            </span>
                                </td>
                            </tr>
                            <% } %>
                            </tbody>
                        </table>
                        <% } %>

                    </div>
                </div>
            </div>
        <% } %>

    </div>
</div>

<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap-filestyle.min.js"></script>
<script type="text/javascript">


    $('#contest-pform').on('submit', function (ev) {

        $('<input />').attr('type', 'hidden')
                .attr('name', "language")
                .attr('value', document.getElementById("language").value)
                .appendTo('#contest-pform');

        return true;
    });

    $(":file").filestyle({
        icon: false,
        buttonText: "SOURCE..",
        buttonName: "btn-dark",
        buttonBefore: true,
        placeholder: "No File Selected..",
        size: "sm"
    });

    window.onload = function () {
        CountDownTimer('<%= contest.end %>');
    };

    function CountDownTimer(begin) {

        var end = new Date(begin);

        var _second = 1000;
        var _minute = _second * 60;
        var _hour = _minute * 60;
        var _day = _hour * 24;
        var timer;
        var running = false;
        var doc =  document.getElementById("countdown");

        function showRemaining() {
            var now = new Date();

            var distance = end - now;

            if (distance < 0) {

                clearInterval(timer);
                document.getElementById("cd-h").innerHTML = '';
                doc.innerHTML = 'Finished<br>' + "<p style='font-size:14px;'><%= moment(contest.end).from() %></p>";


                if( running ) {
                    alert('Contest Finished!');
                }
                return;
            }
            var days = Math.floor(distance / _day);
            var hours = Math.floor((distance % _day) / _hour);
            var minutes = Math.floor((distance % _hour) / _minute);
            var seconds = Math.floor((distance % _minute) / _second);


            doc.innerHTML = days <=0 ? '' : days + 'd ';
            doc.innerHTML += Math.floor(hours/10) + '' +  hours%10 + ':';
            doc.innerHTML += Math.floor(minutes/10) + '' +  minutes%10 + ':';
            doc.innerHTML += Math.floor(seconds/10) + '' +  seconds%10;


            running = true;
        }
        showRemaining();
        timer = setInterval(showRemaining, 1000);
    }

</script>

<!-- footer -->
<% include ../../templates/footer.ejs %>

</body>
</html>