<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JUST Online Judge</title>

    <script type="text/javascript" src="/javascripts/jquery-2.1.4.min.js"></script>

    <link rel="stylesheet" href="/stylesheets/style.css">

    <link rel="stylesheet" href="/font-awesome-4.5.0/css/font-awesome.min.css" >

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css">
    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>

</head>

<body style="background: #fcfcfc;">

<% include ../../templates/contest_header.ejs %>

<!-- Main Content -->
<div class="container c-h" >

    <div class="row">

        <div class="col-md-12 text-center">
            <div id="countdown" style="font-size: 20px; font-weight: 200"></div>
        </div>
        <br>
        <br>

        <div class="col-md-12">
            <div class="panel panel-default">


                    <% var probNames = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"; %>

                    <table class="table st-table">
                        <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <% for(var i=0; i<problemStats.length; i++){ %>
                                <th style="width: 64px" class="text-center"><a href="/contest/<%= contest.id %>/problem/<%= problemStats[i].pid %>"><%= probNames.charAt(i) %></a></th>
                            <% } %>
                        </tr>
                        <tr>
                            <th style="border-top: 0px;width: 40px;" class="text-center">#</th>
                            <th style="border-top: 0px;row-span: 2;">NAME</th>
                            <th style="border-top: 0px; width: 64px;"></th>
                            <% for(var i=0; i<problemStats.length; i++){ %>
                                <th class="text-center">
                                    <span class="label label-default st-labels">
                                        <%= problemStats[i].solvedBy %>/<%= problemStats[i].triedBy %>
                                    </span>
                                </th>
                            <% } %>
                        </tr>
                        </thead>
                        <tbody>
                        <% for(var i=0; i<ranks.length; i++){ %>

                            <% if( ranks[i].penalty === null || _.isUndefined(ranks[i].penalty) ){ %>

                                <% if(isUser && user.id === ranks[i].uid){ %>
                        <tr class="bg-success">
                                <% }else{ %>
                        <tr>
                                <% } %>

                                <tr>
                                    <td class="text-center"><span class="label label-primary"><%= pagination.offset() + i + 1 %></span></td>
                                    <td>
                                        <a href="/user/<%= ranks[i].username %>" style="font-size: 14px; font-weight: 600; text-shadow: none; color: #000;">
                                            <%= ranks[i].name %>
                                        </a>
                                    </td>
                                    <td>
                                        <span class="label label-primary st-labels" >0</span><span class="label label-info st-labels">0</span>
                                    </td>
                                    <% for(var j=0; j<problemStats.length; j++){ %>
                                        <td class="text-center"></td>
                                    <% } %>
                                </tr>

                            <% }else{ %>

                                <% var up = JSON.parse('{' + ranks[i].problems + '}'); %>

                        <% if(isUser && user.id === ranks[i].uid){ %>
                        <tr class="bg-success">
                            <% }else{ %>
                        <tr>
                            <% } %>

                                    <td class="text-center">
                                        <span class="label label-primary"><%= pagination.offset() + i + 1 %></span>
                                    </td>
                                    <td>
                                        <a href="/user/<%= ranks[i].username %>" style="font-size: 14px; font-weight: 600; text-shadow: none; color: #000;">
                                            <%= ranks[i].name %>
                                        </a>
                                    </td>
                                    <td>
                                        <span class="label label-primary st-labels" ><%= ranks[i].solved %></span><span class="label label-info st-labels"><%= ranks[i].penalty %></span>
                                    </td>
                                    <% for(var j=0; j<problemStats.length; j++){ %>
                                        <td class="text-center st-labels">
                                            <% if( !_.isUndefined(up[problemStats[j].pid]) ){ %>
                                                <% if(up[problemStats[j].pid].status === 0){ %>
                                                    <span class="label label-success" ><%= up[problemStats[j].pid].penalty %> (<%= up[problemStats[j].pid].tried %>)</span>
                                                <% }else{ %>
                                                    <span class="label label-danger st-labels"><%= up[problemStats[j].pid].tried %></span>
                                                <% } %>
                                            <% } %>
                                        </td>
                                    <% } %>
                                </tr>


                            <% } %>
                        <% } %>
                        </tbody>
                    </table>



            </div>


            <!-- pagination  -->
            <nav class="text-center">
                <ul class="pagination">

                    <% if( pagination.hasPrevPage() ){ %>
                    <li>
                        <a href="/contest/<%= contest.id %>/standings?page=<%= pagination.prevPage() %>" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <% } %>


                    <% for(var i=0; i<pagination.totalPages(); i++){ %>

                    <% if( pagination.cur_page == i+1 ){ %>
                    <li class="active">
                        <% }else{ %>
                    <li>
                        <% } %>

                        <a href="/contest/<%= contest.id %>/standings?page=<%= i+1 %>">
                            <%= i+1 %>
                        </a>
                    </li>
                    <% } %>

                    <% if( pagination.hasNextPage() ){ %>
                    <li>
                        <a href="/contest/<%= contest.id %>/standings?page=<%= pagination.nextPage() %>" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <% } %>

                </ul>
            </nav>
            <!-- end pagination -->

        </div>
    </div>
</div>

<script type="text/javascript">


    window.onload = function () {
        CountDownTimer('<%= contest.end %>');
    };

    function CountDownTimer(begin) {

        var end = new Date(begin);

        var _second = 1000;
        var _minute = _second * 60;
        var _hour = _minute * 60;
        var _day = _hour * 24;
        var timer;
        var running = false;
        var doc =  document.getElementById("countdown");

        function showRemaining() {
            var now = new Date();

            var distance = end - now;

            if (distance < 0) {

                clearInterval(timer);
                document.getElementById("cd-h").innerHTML = '';
                doc.innerHTML = 'Finished<br>' + "<p style='font-size:14px;'><%= moment(contest.end).from() %></p>";


                if( running ) {
                    alert('Contest Finished!');
                }
                return;
            }
            var days = Math.floor(distance / _day);
            var hours = Math.floor((distance % _day) / _hour);
            var minutes = Math.floor((distance % _hour) / _minute);
            var seconds = Math.floor((distance % _minute) / _second);


            doc.innerHTML = days <=0 ? '' : days + 'd ';
            doc.innerHTML += Math.floor(hours/10) + '' +  hours%10 + ':';
            doc.innerHTML += Math.floor(minutes/10) + '' +  minutes%10 + ':';
            doc.innerHTML += Math.floor(seconds/10) + '' +  seconds%10;


            running = true;
        }
        showRemaining();
        timer = setInterval(showRemaining, 1000);
    }

</script>

<!-- footer -->
<% include ../../templates/footer.ejs %>

</body>
</html>