<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JUST Online Judge</title>

    <% include ../../templates/head.ejs %>

</head>
<body>

<!-- header and menu -->
<% include ../../templates/header2.ejs %>

<% include ../../templates/contest_header.ejs %>

<div class="text-center">
    <h4>Standings</h4>
</div><br/>


    <%
        var probNames = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
        var colspan = problemStats.length < 15 ? 15 : problemStats.length;
    %>



<div class="table-responsive">
    <table class="table table-striped scoreboard ">
        <thead>
            <tr>
                <th class="fixed-cell"></th>

                <% for(var i=0; i<problemStats.length; i++){ %>
                    <th class="text-center fixed-cell"><a href="/contest/<%= contest.id %>/problem/<%= problemStats[i].pid %>"><%= probNames.charAt(i) %></a></th>
                <% } %>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th class="text-center">#</th>

                <% for(var i=0; i<problemStats.length; i++){ %>
                <th class="text-center standings-cell fixed-cell">
                    <%= problemStats[i].solvedBy %>/<%= problemStats[i].triedBy %>
                </th>
                <% }for(var i=problemStats.length; i<colspan; i++){ %>
                    <th class="fixed-cell"></th>
                <% } %>
                <th class="text-center fixed-cell">Solved</th>
                <th class="text-center fixed-cell">Time</th>
            </tr>
        </thead>
        <tbody>
        <% for(var i=0; i<ranks.length; i++){ %>


            <% if( ranks[i].penalty === null || _.isUndefined(ranks[i].penalty) ){ %>

                        <tr>
                            <td rowspan="2" class="text-center" style="vertical-align: middle"><%= pagination.offset() + i + 1 %></td>
                            <td colspan="<%= colspan %>" class="scoreboard-name"><a href="/user/<%= ranks[i].username %>"><%= ranks[i].name %></a></td>
                            <td class="text-center" rowspan="2" style="vertical-align: middle">0</td>
                            <td class="text-center" rowspan="2" style="vertical-align: middle">0</td>
                        </tr>
                        <tr>
                            <% for(var j=0; j<problemStats.length; j++){ %>
                            <td class="text-center standings-cell" ><span class="label label-default" style="background: #D1D1D1">-</span></td>
                            <% } %>
                        </tr>


            <% }else{ %>

                        <% var up = JSON.parse('{' + ranks[i].problems + '}'); %>

                        <tr>
                            <td rowspan="2" class="text-center" style="vertical-align: middle"><%= pagination.offset() + i + 1 %></td>

                            <td colspan="<%= colspan %>"><a href="/user/<%= ranks[i].username %>"><%= ranks[i].name %></a></td>
                            <td class="text-center " rowspan="2" style="vertical-align: middle"><%= ranks[i].solved %></td>
                            <td class="text-center " rowspan="2" style="vertical-align: middle"><%= ranks[i].penalty < 0 ? 0 : ranks[i].penalty %></td>
                        </tr>
                        <tr>
                            <% for(var j=0; j<problemStats.length; j++){ %>
                            <td class="text-center standings-cell">
                                <% if( !_.isUndefined(up[problemStats[j].pid]) ){ %>
                                    <% if(up[problemStats[j].pid].status === 0){ %>
                                    <span class="label label-success" ><%= up[problemStats[j].pid].tried %> - <%= up[problemStats[j].pid].penalty < 0 ? 0 : up[problemStats[j].pid].penalty %></span>
                                    <% }else{ %>
                                    <span class="label label-danger"><%= up[problemStats[j].pid].tried %></span>
                                    <% } %>
                                <% }else{ %>
                                <span class="label label-default" style="background: #D1D1D1">-</span>
                                <% } %>
                            </td>
                            <% } %>
                        </tr>

            <% } %>
        <% } %>
        </tbody>
    </table>
    <hr class="last-border">
</div>






            <!-- pagination  -->
            <div class="text-center">
                <ul class="pagination">

                    <% if( pagination.hasPrevPage() ){ %>
                    <li>
                        <a href="/contest/<%= contest.id %>/standings?page=<%= pagination.prevPage() %>" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <% } %>


                    <% for(var i=0; i<pagination.totalPages(); i++){ %>

                    <% if( pagination.cur_page == i+1 ){ %>
                    <li class="active">
                        <% }else{ %>
                    <li>
                        <% } %>

                        <a href="/contest/<%= contest.id %>/standings?page=<%= i+1 %>">
                            <%= i+1 %>
                        </a>
                    </li>
                    <% } %>

                    <% if( pagination.hasNextPage() ){ %>
                    <li>
                        <a href="/contest/<%= contest.id %>/standings?page=<%= pagination.nextPage() %>" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <% } %>

                </ul>
            </div>
            <!-- end pagination -->


        </div>
    </div>
</div>

<script type="text/javascript" src="/javascripts/pageFunctions/Countdown.js"></script>
<script type="text/javascript">
    $( document ).ready(function() {
        CountDownTimer('<%= contest.end %>',document.getElementById("countdown"));
    });
</script>

<!-- footer -->
<% include ../../templates/footer.ejs %>

</body>
</html>