<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JUST Online Judge</title>

    <link rel="stylesheet" href="/google-code-prettify/prettify.css" type="text/css" >
    <script src="/google-code-prettify/prettify.js"></script>

    <% include ../../templates/head.ejs %>

</head>
<body>

<!-- header and menu -->
<% include ../../templates/header2.ejs %>

<% include ../../templates/contest_header.ejs %>

<div style="min-height: 400px;">

    <div class="panel panel-default" style="margin-left: 30px; margin-right: 40px;">
        <div class="panel-heading">SUBMISSION STATUS</div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>User</th>
                <th>Problem</th>
                <th>Time</th>
                <th>Language</th>
                <th>CPU</th>
                <th>Memory</th>
                <th>Verdict</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><%= submissionId %></td>
                <td>
                    <a href="/user/<%= runs.username %>">
                        <%= runs.username %>
                    </a>
                </td>
                <td class="ellips" style="max-width: 100px;">
                    <a href="/contests/<%= runs.cid %>/problem/<%= runs.pid %>" title="<%- runs.title %>">
                        <%- runs.title %>
                    </a>
                </td>
                <td class="ellips" title="<%= runs.submittime %>">
                    <%= moment(runs.submittime).from() %>
                </td>
                <td><%= langNames[runs.language] %></td>
                <td>
                    <% if( parseInt(runs.cpu) === 0){ %>
                    0.00s
                    <% }else{ %>
                    <%= parseFloat( parseInt(runs.cpu)/1000.0).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] %>s
                    <% } %>
                </td>
                <td><%= runs.memory %>KB</td>
                <td>
                    <% var st = parseInt(runs.status); %>
                    <% if(st === 0){ %>
                    <span class="label label-success">
                        <% }else if(st === 5){ %>
                        <span class="label label-default">
                            <% }else if(st === 6){ %>
                            <span class="label label-info">
                                <% }else if(st === 8){ %>
                                <span class="label label-warning">
                                    <% }else{ %>
                                    <span class="label label-danger">
                                        <% } %>
                                        <%= runStatus[st] %>
                                                            </span>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <% if(runs.cases.length){ %>
    <div class="panel panel-default" style="margin-left: 30px; margin-right: 40px;">
        <div class="panel-heading">TEST CASES</div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>CPU</th>
                <th>Memory</th>
                <th>Verdict</th>
            </tr>
            </thead>
            <tbody>

            <% for(var i=0; i<runs.cases.length; i++){ %>

            <tr>
                <td><%= (i+1) %></td>
                <td>
                    <% if( parseInt(runs.cases[i].cpu) === 0){ %>
                    0.00s
                    <% }else{ %>
                    <%= parseFloat( parseInt(runs.cases[i].cpu)/1000.0).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] %>s
                    <% } %>
                </td>
                <td><%= runs.cases[i].memory %>KB</td>
                <td>
                    <% var st = parseInt(runs.cases[i].status); %>
                    <% if(st === 0){ %>
                    <span class="label label-success">
                        <% }else if(st === 5){ %>
                        <span class="label label-default">
                            <% }else if(st === 6){ %>
                            <span class="label label-info">
                                <% }else if(st === 8){ %>
                                <span class="label label-warning">
                                    <% }else{ %>
                                    <span class="label label-danger">
                                        <% } %>
                                        <%= runStatus[st] %>
                                                                </span>
                </td>
            </tr>

            <% } %>

            </tbody>
        </table>

    </div>
    <% } %>

    <% if(isLoggedIn && runs.username === user.username){ %>
    <div class="panel panel-default" style="border: none;">
        <div class="panel-heading">
            <i class="fa fa-code" aria-hidden="true"></i> Source
        </div>
        <pre id="source-code" class="prettyprint lang-cpp"><%- runs.code %></pre>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            prettyPrint();
        });
    </script>
    <% } %>



</div>
<!-- ending of contest header  -->
</div>
</div>
</div>
</div>


<script type="text/javascript" src="/javascripts/pageFunctions/Countdown.js"></script>
<script type="text/javascript">
    $( document ).ready(function() {
        CountDownTimer('<%= contest.end %>',document.getElementById("countdown"));
    });
</script>

<!-- footer -->
<% include ../../templates/footer.ejs %>

</body>
</html>