<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JUST Online Judge</title>

    <script type="text/javascript" src="/javascripts/jquery-2.1.4.min.js"></script>

    <link rel="stylesheet" href="/stylesheets/style.css">

    <link rel="stylesheet" href="/font-awesome-4.5.0/css/font-awesome.min.css" >

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css">
    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>

</head>

<body style="background: #fcfcfc;">

<% include ../../templates/contest_header.ejs %>

<!-- Main Content -->
<div class="container c-h" >

    <div class="row">

        <div class="col-md-12 text-center">
            <div id="countdown" style="font-size: 20px; font-weight: 200"></div>
        </div>
        <br>
        <br>
        <div class="col-md-12">
            <div class="panel panel-default">

                    <div class="panel-body">
                    <div class="pull-left"><h4>Submissions</h4></div>
                    <div class="pull-right">
                        <div class="btn-group-sm" role="group" >
                            <a href="/contest/<%= contest.id %>/submissions" class="btn btn-sm btn-default disabled">ALL</a>
                            <a href="/contest/<%= contest.id %>/submissions/my" class="btn btn-sm btn-default">MY</a>
                        </div>
                    </div>
                    </div>

                    <% if(status.length){ %>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>User</th>
                            <th>Problem</th>
                            <th>Time</th>
                            <th>Language</th>
                            <th>CPU</th>
                            <th>Memory</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for(var i=0; i<status.length; i++){ %>
                        <tr>
                            <td><%= pagination.offset() + (i+1) %></td>
                            <td class="ellips" style="max-width: 100px;">
                                <a href="/user/<%= status[i].username %>">
                                    <%= status[i].username %>
                                </a>
                            </td>
                            <td class="ellips" style="max-width: 100px;">
                                <a href="/contest/<%= contest.id %>/problem/<%= status[i].pid %>" title="<%= status[i].title %>">
                                    <%= status[i].title %>
                                </a>
                            </td>
                            <td title="<%= status[i].submittime %>" class="ellips" style="max-width: 100px;">
                                <%= moment(status[i].submittime).from() %>
                            </td>
                            <td><%= langNames[status[i].language] %></td>
                            <td><%= parseFloat(status[i].cpu/1000.0).toFixed(2) %>s</td>
                            <td><%= status[i].memory %>KB</td>
                            <td>
                                <% var st = parseInt(status[i].status); %>
                                <% if(st === 0){ %>
                                <span class="label label-success">
                                    <% }else if(st === 5){ %>
                                    <span class="label label-default">
                                        <% }else if(st === 6){ %>
                                        <span class="label label-info">
                                            <% }else if(st === 8){ %>
                                            <span class="label label-warning">
                                                <% }else{ %>
                                                <span class="label label-danger">
                                                    <% } %>
                                                    <%= runStatus[st] %>
                                                </span>
                            </td>
                        </tr>
                        <% } %>
                        </tbody>
                    </table>



                    <!-- pagination  -->
                    <nav class="text-center">
                        <ul class="pagination">


                            <% if( pagination.hasPrevPage() ){ %>
                            <li>
                                <a href="/contest/<%= contest.id %>/submissions?page=<%= pagination.prevPage() %>" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <% } %>


                            <% for(var i=0; i<pagination.totalPages(); i++){ %>

                            <% if( pagination.cur_page == i+1 ){ %>
                            <li class="active">
                                <% }else{ %>
                            <li>
                                <% } %>

                                <a href="/contest/<%= contest.id %>/submissions?page=<%= i+1 %>">
                                    <%= i+1 %>
                                </a>
                            </li>
                            <% } %>

                            <% if( pagination.hasNextPage() ){ %>
                            <li>
                                <a href="/contest/<%= contest.id %>/submissions?page=<%= pagination.nextPage() %>" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            <% } %>

                        </ul>
                    </nav>
                    <!-- end pagination -->






                    <% } %>



            </div>
        </div>

    </div>
</div>

<script type="text/javascript">


    window.onload = function () {
        CountDownTimer('<%= contest.end %>');
    };

    function CountDownTimer(begin) {

        var end = new Date(begin);

        var _second = 1000;
        var _minute = _second * 60;
        var _hour = _minute * 60;
        var _day = _hour * 24;
        var timer;
        var running = false;
        var doc =  document.getElementById("countdown");

        function showRemaining() {
            var now = new Date();

            var distance = end - now;

            if (distance < 0) {

                clearInterval(timer);
                document.getElementById("cd-h").innerHTML = '';
                doc.innerHTML = 'Finished<br>' + "<p style='font-size:14px;'><%= moment(contest.end).from() %></p>";


                if( running ) {
                    alert('Contest Finished!');
                }
                return;
            }
            var days = Math.floor(distance / _day);
            var hours = Math.floor((distance % _day) / _hour);
            var minutes = Math.floor((distance % _hour) / _minute);
            var seconds = Math.floor((distance % _minute) / _second);


            doc.innerHTML = days <=0 ? '' : days + 'd ';
            doc.innerHTML += Math.floor(hours/10) + '' +  hours%10 + ':';
            doc.innerHTML += Math.floor(minutes/10) + '' +  minutes%10 + ':';
            doc.innerHTML += Math.floor(seconds/10) + '' +  seconds%10;


            running = true;
        }
        showRemaining();
        timer = setInterval(showRemaining, 1000);
    }

</script>

<!-- footer -->
<% include ../../templates/footer.ejs %>

</body>
</html>