<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JUST Online Judge</title>

    <% include ../../templates/head.ejs %>

</head>
<body>

<!-- header and menu -->
<% include ../../templates/header2.ejs %>

<% include ../../templates/contest_header2.ejs %>


<div class="container content c-h">
    <div class="panel panel-default">
    <div class="panel-heading" >

        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>

        <div class="pull-right">
            <div class="btn-group panel-heading-btn" role="group" >
                <a href="/contests/<%= contest.id %>/submissions" class="btn btn-sm btn-dark">All</a>
                <a href="/contests/<%= contest.id %>/submissions/u/my" class="btn btn-sm btn-dark <%= active_contest_nav === 'submissions' ? '' : 'disabled' %>">My</a>
            </div>
        </div>
    </div>


    <table class="table table-responsive">
        <thead>
        <tr>
            <th style="padding-left: 15px;">#</th>
            <th>Author</th>
            <th>Problem</th>
            <th>Time</th>
            <th>Language</th>
            <th>CPU</th>
            <th>Memory</th>
            <th>Verdict</th>
        </tr>
        </thead>
        <tbody>
        <% for(var i=0; i<status.length; i++){ %>
        <tr>
            <td style="padding-left: 15px;">
                <a href="/contests/<%= contest.id %>/submissions/<%= status[i].id %>" >
                    <%= status[i].id %>
                </a>
            </td>
            <td class="ellips" style=" max-width: 180px;">
                <a href="/user/<%= status[i].username %>">
                    <%= status[i].username %>
                </a>
            </td>
            <td class="ellips" style="max-width: 100px;">
                <a href="/contests/<%= contest.id %>/problem/<%= status[i].pid %>" title="<%- status[i].title %>">
                    <%- status[i].title %>
                </a>
            </td>
            <td title="<%= status[i].submittime %>" class="ellips" style="max-width: 100px;">
                <%= moment(status[i].submittime).from() %>
            </td>
            <td><%= langNames[status[i].language] %></td>
            <td>
                <% if( parseInt(status[i].cpu) === 0){ %>
                0.00s
                <% }else{ %>
                <%= parseFloat( parseInt(status[i].cpu)/1000.0).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] %>s
                <% } %>
            </td>
            <td><%= status[i].memory %>KB</td>
            <td>
                <% var st = parseInt(status[i].status); %>
                <% if(st === 0){ %>
                <span class="label label-success">
                    <% }else if(st === 5){ %>
                    <span class="label label-default">
                        <% }else if(st === 6){ %>
                        <span class="label label-info">
                            <% }else if(st === 8){ %>
                            <span class="label label-warning">
                                <% }else{ %>
                                <span class="label label-danger">
                                    <% } %>
                                    <%= runStatus[st] %>
                                                </span>
            </td>
        </tr>
        <% } %>
        </tbody>
    </table>
    </div>

    <% include ../../templates/pagination.ejs %>

</div>




<script type="text/javascript" src="/javascripts/pageFunctions/Countdown.js"></script>
<script type="text/javascript">
    $( document ).ready(function() {
        CountDownTimer('<%= contest.end %>',document.getElementById("countdown"));
    });
</script>

<!-- footer -->
<% include ../../templates/footer.ejs %>

</body>
</html>