<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JUST Online Judge</title>

    <% include ../../templates/head.ejs %>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.js"></script>

    <!-- dataTables -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">


</head>
<body>




<!-- header and menu -->
<% include ../../templates/header2.ejs %>


<!-- Main Content -->
<div class="content container c-h">

    <div class="row">


        <!-- errors -->
        <% if (errors.length) { %>
            <div class="col-md-6 col-md-offset-3">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <%= errors %>
                </div>
            </div>
        <% }else if(success.length){ %>
            <div class="col-md-6 col-md-offset-3">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <%= success %>
                </div>
            </div>
        <% } %>

        <div class="col-md-12 nopadding">

            <div class="row">
                <div class="col-md-6 col-md-offset-5">
                    <div id="countdown" style="font-size: 24px; font-weight: 200"></div>
                </div>
            </div>


            <div class="row">

                <h3>Edit Contest</h3><br/>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Detail</a></li>
                    <li role="presentation"><a href="#problems" aria-controls="problems" role="tab" data-toggle="tab">Problems</a></li>

                    <% if(details.privacy === 0){ %>
                    <li role="presentation"><a href="#participants" aria-controls="participants" role="tab" data-toggle="tab">Participants</a></li>
                    <% } %>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">


                    <!--  HOME TAB -->
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <div class="panel panel-default">
                            <div class="panel-body">

                                <form method="post" action="/contests/edit/detail/<%= cid %>" role="form" id="ccFrom" class="form-horizontal" >

                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">Type</label>
                                        <div class="col-sm-11">
                                            <fieldset>
                                                <% if(details.privacy === 1){ %>
                                                    <label class="radio-inline">
                                                        <input type="radio" name="type" checked  value="public" required >Public
                                                    </label>
                                                    <label class="radio-inline">
                                                        <input type="radio" name="type"  value="private">Private
                                                    </label>
                                                <% }else{ %>
                                                    <label class="radio-inline">
                                                        <input type="radio" name="type"  value="public" required >Public
                                                    </label>
                                                    <label class="radio-inline">
                                                        <input type="radio" name="type" checked value="private">Private
                                                    </label>
                                                <% } %>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputTitle" class="col-sm-1 control-label">Title</label>
                                        <div class="col-sm-11">
                                            <input type="text" name="title" value="<%= details.title %>" class="form-control " id="inputTitle" placeholder="Title" required >
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label for="inputTime" class="col-sm-1 control-label">Begin</label>
                                        <div class="col-sm-11">
                                            <div class='input-group date row'>
                                                <div class="col-sm-6">
                                                    <input type='text' name="beginDate" value="<%= details.beginDate %>" class="form-control " id='datepicker' placeholder="MM-DD-YYYY" required >
                                                </div>
                                                <div class="col-sm-5">
                                                    <input type='text' name="beginTime" value="<%= details.beginTime %>" class="form-control  timepicker" placeholder="hh:mm:ss" required >
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">Length</label>
                                        <div class="col-sm-11">
                                            <div class='input-group date row'>
                                                <div class="col-md-6">
                                                    <input type='text'  name="lenDay" class="form-control " placeholder="Day" required />
                                                </div>
                                                <div class="col-md-5">
                                                    <input type='text' name="lenTime" class="form-control  timepicker" placeholder="hh:mm:ss"  required />
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="col-sm-offset-1 col-sm-11">
                                            <input type="button" name="btn" value="UPDATE" id="submitBtn"  class="btn btn-primary" />
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>


                    <!-- Problems TAB  -->
                    <div role="tabpanel" class="tab-pane" id="problems">
                        <div class="panel panel-default">
                            <div class="panel-body">

                                <div class="col-md-2 col-md-offset-5">
                                    <a class="btn btn-success btn-sm" href="/contests/edit/<%= cid %>/problems/new" ><i class="fa fa-plus" aria-hidden="true"></i> ADD PROBLEM</a>
                                </div>


                                <% if(problems.length){ %>
                                    <br/>
                                    <table class="table table-responsive">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Title</th>
                                                <th>Status</th>
                                                <th>Preview</th>
                                                <th>Edit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for(var i=0; i<problems.length; i++){ %>
                                                <tr>
                                                    <input type="hidden" value="<%= problems[i].pid %>" >
                                                    <td class="col-sm-1"><%= (i+1) %></td>
                                                    <td><%- problems[i].title %></td>
                                                    <td class="col-sm-1">
                                                        <% if(problems[i].status==='incomplete'){ %>
                                                            <span class="label label-danger" >Incomplete
                                                        <% }else{ %>
                                                            <span class="label label-success">Ready
                                                        <% } %>
                                                        </span>
                                                    </td>
                                                    <td class="col-sm-1">
                                                        <button class="btn btn-sm btn-primary previewBtn" >PREVIEW</button>
                                                    </td>
                                                    <td class="col-sm-1">
                                                        <a class="btn btn-sm btn-primary" href="/contests/edit/<%= cid %>/problems/<%= problems[i].pid %>/step1">
                                                            EDIT
                                                        </a>
                                                    </td>
                                                </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                <% } %>


                            </div>
                        </div>
                    </div>


                    <!-- users TAB  -->
                    <%  if(details.privacy === 0){  %>
                    <div role="tabpanel" class="tab-pane" id="participants">
                        <div class="panel panel-default">

                            <div class="panel-heading clearfix">
                                <div class="pull-left">
                                <h4>Participants List</h4>
                                </div>
                                <% if(participants.length){ %>
                                <div class="pull-right">
                                    <a href="/contests/participants/download/<%= cid %>" class="btn btn-sm btn-primary"><i class="fa fa-download" aria-hidden="true"></i> Download as csv</a>
                                </div>
                                <% } %>
                            </div>

                            <div class="panel-heading">
                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target=".generate-user-modal">
                                    <i class="fa fa-users" aria-hidden="true"></i> Generate Random User
                                </button>
                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target=".add-user-modal">
                                    <i class="fa fa-user-plus" aria-hidden="true"></i> Insert User
                                </button>

                                <% if(participants.length){ %>
                                <div class="pull-right">
                                    <button type="button" class="btn btn-danger btn-sm" id="remAllBtn" data-toggle="modal" data-target=".confirm-remove-modal">
                                        <i class="fa fa-user-times" aria-hidden="true"></i> Remove All Users
                                    </button>

                                    <button type="button" class="btn btn-danger btn-sm" id="deleteSelectedUserBtn">
                                        <i class="fa fa-user-times" aria-hidden="true"></i> Remove Selected Users
                                    </button>
                                </div>
                                <% } %>

                            </div>




                            <!--  user list table -->
                            <div class="panel-body">
                                <table class="table table-responsive"  id="user_data_table">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Username</th>
                                        <th>Password</th>
                                        <th>Institute</th>
                                        <th>Edit</th>
                                        <th>Remove</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <% for(var i=0; i<participants.length; i++){ %>
                                    <tr>
                                        <td><%= pagination.offset() + i + 1 %></td>
                                        <td title="<%= participants[i].name %>"><%= participants[i].name %></td>
                                        <td title="<%= participants[i].username %>"><%= participants[i].username %></td>
                                        <td title="<%= participants[i].password %>"><%= participants[i].password %></td>
                                        <td title="<%= participants[i].institute %>"><%= participants[i].institute %></td>
                                        <td><button type="button" class="button btn-xs btn-primary edit-user-btn">Edit</button></td>
                                        <td><button type="button" userid="<%= participants[i].uid %>" class="button btn-xs btn-danger remove-user-btn">Remove</button></td>
                                    </tr>
                                    <% } %>
                                    </tbody>
                                </table>
                                <% include ../../templates/pagination.ejs %>
                            </div>


    <!---------------------------------------------------  MODALS   -->
     <!-- ################################################### -->

                            <!-- user generation form -->
                            <div class="modal fade generate-user-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                                <div class="modal-dialog modal-sm" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Generate Random User</h4>
                                        </div>
                                        <div class="modal-body">

                                            <form method="post" action="/contests/edit/generateuser/<%= cid %>">
                                                <div class="form-group">
                                                    <label for="iquan" class="control-label">Number of users to generate</label>
                                                    <input id="iquan" type="number" name="quantity" class="form-control" min="1" max="100" required />
                                                </div>
                                                <div class="form-group">
                                                    <input type="submit" class="btn btn-primary form-control" value="Generate" />
                                                </div>
                                            </form>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- user add form -->
                            <div class="modal fade add-user-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                                <div class="modal-dialog modal-sm" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Insert User</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" action="/contests/edit/insertuser/<%= cid %>">
                                                <div class="form-group">
                                                    <label for="iUsername" class="control-label">Username</label>
                                                    <input id="iUsername" type="username" name="username" class="form-control" required />
                                                </div>
                                                <div class="form-group">
                                                    <div class="big-checkbox">
                                                        <input type="checkbox" id="randPass" name="random_password" />
                                                        <label>Random Password</label>
                                                    </div>
                                                </div>
                                                <div class="form-group" id="passInput">
                                                    <label for="iPassword" class="control-label">Password</label>
                                                    <input id="iPassword" type="password" name="password" class="form-control" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="iFullname" class="control-label">Full name</label>
                                                    <input id="iFullname" type="text" name="name" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label for="iiInst" class="control-label">School/University</label>
                                                    <input id="iiInst" type="text" name="institute" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <input type="submit" class="btn btn-primary form-control" value="INSERT" />
                                                </div>
                                            </form>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- user edit form -->
                            <div class="modal fade edit-user-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                                <div class="modal-dialog modal-sm" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Edit User</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" action="#" id="editUsrForm" >
                                                <div class="form-group">
                                                    <label for="iFullname" class="control-label">Name</label>
                                                    <input id="iFullname" type="text" name="name" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label for="iUsername" class="control-label">Username</label>
                                                    <input id="iUsername" type="username" name="username" class="form-control" required />
                                                </div>
                                                <div class="form-group" id="passInput">
                                                    <label for="iPassword" class="control-label">Password</label>
                                                    <input id="iPassword" type="text" name="password" class="form-control" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="iiInst" class="control-label">School/University</label>
                                                    <input id="iiInst" type="text" name="institute" class="form-control" />
                                                    <input type="hidden" name="userid" value=""  />
                                                </div>
                                                <div class="form-group">
                                                    <input type="submit" class="btn btn-primary form-control" value="SUBMIT" />
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="modal fade confirm-remove-modal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4>Remove all user Submit</h4>
                                        </div>
                                        <div class="modal-body">
                                            <h4>You want to remove all users resistered for this contest?</h4>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">BACK</button>
                                            <a href="#" class="btn btn-primary confirmRemoveAllBtn">CONFIRM</a>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div id="myModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4></h4>
                                        </div>

                                        <div class="modal-body">
                                            <div id="omg" ></div>
                                        </div>

                                    </div>
                                </div>
                            </div>




                            <!-- ############### END MODALS #################################### -->



                        </div>
                    </div>
                    <% } %>



                </div>
            </div>
        </div>
    </div>
</div>





<script type="text/javascript">

    jQuery(document).ready(function(){

        var table = $('#user_data_table').DataTable({
            paging: false,
            ordering:  false,
            select: true
        });

        $('#user_data_table_info').parent().parent().hide();
        $('#deleteSelectedUserBtn').hide();

        $('#user_data_table tbody').on( 'click', 'tr', function () {
            $(this).toggleClass('tr-selected');

            if( table.rows('.tr-selected').data().length  === 0 ){
                $('#deleteSelectedUserBtn').hide();
                $('#remAllBtn').show();
            }
            else if( !$('#deleteSelectedUserBtn').is(":visible")  ){
                $('#deleteSelectedUserBtn').show();
                $('#remAllBtn').hide();
            }
        });


        //edit user
        $('#editUsrForm').on('submit', function(e){
            e.preventDefault();

            var sr = $('#editUsrForm').serialize();
            var sj = JSON.stringify(sr);
            console.log(sr);
            console.log(sj);

            $.ajax({
                url: '/contests/edit/edituser/<%= cid %>',
                type: "POST",
                data: $('#editUsrForm').serialize(),
                complete: function(){

                },
                success: function(data) {
                    alert(data);
                    location.reload(true);
                },
                error: function(xhr, status, error) {
                    alert('error');
                }
            });
        });



        //delet slected row users
        $('#deleteSelectedUserBtn').click( function () {

            var data = table
                .rows('.tr-selected')
                .data();

            if( data.length === 0 ) return;

            var userdata = $.map($(data), function( value , index ) {
                var userid = $(value[6]).attr('userid');
                return userid;
            });

            $.ajax({
                url: '/contests/edit/removeuser/<%= cid %>',
                type: "POST",
                data: JSON.stringify(userdata),
                contentType : "application/json",
                dataType: "json",
                complete: function(){

                },
                success: function(data) {
                    location.reload(true);
                },
                error: function(xhr, status, error) {
                    alert('error');
                }
            });
        });


        //random passord option for insert user form
        var checkRandomPass = $('#randPass');
        var passInputBlock = $('#passInput');
        passInputBlock.show();
        checkRandomPass.on('click', function () {
            if($(this).is(':checked')) {
                passInputBlock.hide();
                passInputBlock.find('input').attr('required', false);

            } else {
                passInputBlock.show();
                passInputBlock.find('input').attr('required', true);
            }
        });


        var validator = $("#ccFrom").validate({
            showErrors: function(errorMap, errorList) {

                $.each(this.validElements(), function (index, element) {
                    var $element = $(element);
                    $element.data("title", "");
                    $element.removeClass("val-error");
                    $element.tooltip("destroy");
                });

                $.each(errorList, function (index, error) {
                    var $element = $(error.element);

                    $element.tooltip("destroy");
                    $element.data("title", error.message);
                    $element.addClass("val-error");
                    $element.tooltip("show");
                });
            }
        });


        //remove a single user
        $(document).on('click', '.remove-user-btn', function () {
                var uid = $(this).attr('userid');
                deleteUser(uid);
        });


        //remove all user
        $(document).on('click', '.confirmRemoveAllBtn', function () {
            var form = document.createElement("form");
            var element = document.createElement("input");

            form.method = "POST";
            form.action = "/contests/edit/removealluser";

            element.value = '<%= cid %>';
            element.name = "cid";
            form.appendChild(element);
            document.body.appendChild(form);
            form.submit();
        });


        //edit user
        $(document).on('click', '.edit-user-btn', function () {

            var selRow = $(this).closest('tr');
            if( $(selRow).hasClass('tr-selected') ){
                $(selRow).toggleClass('tr-selected');
            }
            var cols = $(selRow).find('td');


            $('.edit-user-modal').find("input[name='name']").val( $(cols[1]).html() );
            $('.edit-user-modal').find("input[name='username']").val( $(cols[2]).html() );
            $('.edit-user-modal').find("input[name='password']").val( $(cols[3]).html() );
            $('.edit-user-modal').find("input[name='institute']").val( $(cols[4]).html() );
            $('.edit-user-modal').find("input[type='hidden']").val( $(cols[6]).find('.remove-user-btn').attr('userid') );
            $('.edit-user-modal').modal('show');
        });


        $(document).on('click', '.previewBtn', function () {
            var pid = $(this).parents('tr').find('input[type="hidden"]').val();

            var URL = '/contests/edit/<%= cid %>/problems/' + pid + '/preview';

            $.ajax({
                type: "GET",
                data: {
                    format: 'json'
                },
                url: URL,
                dataType: "json",
                success: function(data) {

                    document.getElementById('omg').innerHTML = getProblem(data);
                    $('#myModal').modal('show');

                },
                error: function(xhr, status, error) {
                    alert(JSON.stringify(xhr.responseText));
                }
            });

        });




        $('#submitBtn').click(function(){

            if( $("#ccFrom").valid() ){
                $('#ccFrom').submit();
            }

        });


    });

    /* delet a user from table */
    function deleteUser(uid) {
        var form = document.createElement("form");
        var element = document.createElement("input");

        form.method = "POST";
        form.action = "/contests/edit/removeuser/<%= cid %>";

        element.value = uid;
        element.name = "userid";
        form.appendChild(element);
        document.body.appendChild(form);
        form.submit();
    }



    function getProblem(data){
        var htmls = '<div class="preview">';
        htmls += '<h3 id="h3">';
        htmls += data.title;
        htmls += '</h3>';
        htmls += '<p style="font-size: 84%; line-height: 1.1px;">';
        htmls += 'CPU: ' + data.cpu/1000.0 + 's | ';
        htmls += 'Memory: ' + isEmpty(data.memory) + 'KB';
        htmls += '</p></br>';
        htmls += '<p>';
        htmls +=  data.statement;
        htmls += '</p>';
        htmls += '<h3 id="h3">Sample</h3>';
        htmls += '<table class="table" style="padding: 0px; margin: 0px">';
        htmls += '<tbody style="padding: 0px; margin: 0px">';
        htmls += '<tr>';
        htmls += '<th style="border: none">Input</th>';
        htmls += '<th style="border: none">Output</th>';
        htmls += '</tr>';
        htmls += '<tr>';
        htmls += '<td class="col-md-1" style="border: none"><pre>';
        htmls +=  data.input;
        htmls += '</td></pre>';
        htmls += '<td class="col-md-1" style="border: none"><pre>';
        htmls +=  data.output;
        htmls += '</td></pre>';
        htmls += '</tr>';
        htmls += '</tbody>';
        htmls += '</table>';
        htmls += '</div>';
        return htmls;
    }


    function isEmpty(val){
        if( val ){
            return val;
        }
        return '--';
    }

    $(function () {
        $('.timepicker').datetimepicker({
            format: 'HH:mm:ss'
        });
        $('#datepicker').datetimepicker({
            format: 'YYYY-MM-DD'
        });
    });
</script>


<script type="text/javascript">
/*
    window.onload = function () {
        CountDownTimer('<%= details.end %>');
    };

    function CountDownTimer(begin) {

        var end = new Date(begin);

        var _second = 1000;
        var _minute = _second * 60;
        var _hour = _minute * 60;
        var _day = _hour * 24;
        var timer;
        var running = false;
        var doc =  document.getElementById("countdown");

        function showRemaining() {
            var now = new Date();

            var distance = end - now;

            if (distance < 0) {

                clearInterval(timer);
                doc.innerHTML = '00:00:00:00';

                if( running ) {
                    alert('Contest Started!');
                }
                return;
            }
            var days = Math.floor(distance / _day);
            var hours = Math.floor((distance % _day) / _hour);
            var minutes = Math.floor((distance % _hour) / _minute);
            var seconds = Math.floor((distance % _minute) / _second);

            if(days>0){
                doc.innerHTML = days + 'd ';
            }else{
                doc.innerHTML = '';
            }

            doc.innerHTML += Math.floor(hours/10) + '' +  hours%10 + ':';
            doc.innerHTML += Math.floor(minutes/10) + '' +  minutes%10 + ':';
            doc.innerHTML += Math.floor(seconds/10) + '' +  seconds%10;


            running = true;
        }
        showRemaining();
        timer = setInterval(showRemaining, 1000);
    }
*/

</script>


<!-- footer -->
<% include ../../templates/footer.ejs %>

</body>
</html>