<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JUST Online Judge</title>

    <% include ../../../templates/head.ejs %>

</head>
<body>

<!-- header and menu -->
<% include ../../../templates/header2.ejs %>

<% include ../../../templates/contest_header.ejs %>


<% var ch = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"; %>

<div class="container content c-h">
    <div class="col-md-10 nopadding">
        <div class="panel panel-default">
            <div class="panel-heading">

                    <% if(clarification.pname==='General'){ %>
                    General
                    <% }else{ %>
                    [<%= ch.charAt(parseInt(clarification.pname)) %>] <%- clarification.title %>
                    <% } %>

                <div class="pull-right">
                    <%  if( clarification.status === 'ignore' ){ %>
                    <div class="label label-warning"><i class="fa fa-eye-slash" aria-hidden="true"></i> Ignored</div>
                    <%  }else if( clarification.response.length  ){   %>
                    <div class="label label-success"><i class="fa fa-comment-o" aria-hidden="true"></i> Answered</div>
                    <%  }else{   %>
                    <div class="label label-default"><i class="fa fa-angle-double-right" aria-hidden="true"></i> In queue</div>
                    <%  }   %>
                </div>

            </div>

            <div class="panel-body">
                <h4><%- clarification.request %></h4>

                <% if(clarification.status !== 'general'){ %>
                    <br><p>by-<a href="/user/<%= clarification.username %>"><%= clarification.username %></a></p>
                    <hr>
                    <% if( clarification.response &&  clarification.response.length ){ %>
                         <h4><%- clarification.response %></h4>
                    <% } %>
                <% } %>
            </div>

            <% if(user.role === 'admin'){ %>
                <div class="panel-body">
                    <hr>
                    <div class="pull-right">
                        <div class="btn-group" role="group">
                            <form role="form" method="post"  action="/contests/<%= contest.id %>/clarifications/delete">
                                <input type="hidden" name="clar_id"  value="<%= clarificationId %>" />
                                <a href="/contests/<%= contest.id %>/clarifications/respond/<%= clarificationId %>" class="btn btn-sm btn-primary">
                                    <i class="fa fa-reply" aria-hidden="true"></i> Respond
                                </a>
                                <button class="btn btn-sm btn-danger" type="submit">
                                    <i class="fa fa-trash-o"></i> Delete
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            <% } %>

        </div>
    </div>
</div>




<script type="text/javascript" src="/javascripts/pageFunctions/Countdown.js"></script>
<script type="text/javascript">
    $( document ).ready(function() {
        CountDownTimer('<%= contest.end %>',document.getElementById("countdown"));
    });
</script>

<!-- footer -->
<% include ../../../templates/footer.ejs %>

</body>
</html>