<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JUST Online Judge</title>

    <% include ../../../templates/head.ejs %>

</head>
<body>

<!-- header and menu -->
<% include ../../../templates/header2.ejs %>

<% include ../../../templates/contest_header.ejs %>


<% var ch = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"; %>

<div class="panel-body" style="min-height: 400px;">
    <div class="col-md-10">

        <h3 class="ellips">
            <% if(clarification.pname==='General'){ %>
            General
            <% }else{ %>
            [<%= ch.charAt(parseInt(clarification.pname)) %>] <%= decodeToHTML(clarification.title) %>
            <% } %>
        </h3>
        <br>
        <h4><%= decodeToHTML(clarification.request) %></h4>
        by-<a href="/user/<%= clarification.username %>"><%= clarification.username %></a>
        <hr>
        <p><%= decodeToHTML(clarification.response) %></p>
    </div>
</div>



<!-- ending of contest header  -->
</div>
</div>
</div>
</div>


<script type="text/javascript" src="/javascripts/pageFunctions/Countdown.js"></script>
<script type="text/javascript">
    $( document ).ready(function() {
        CountDownTimer('<%= contest.end %>',document.getElementById("countdown"));
    });
</script>

<!-- footer -->
<% include ../../../templates/footer.ejs %>

</body>
</html>