<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JUST Online Judge</title>

    <% include ../templates/head.ejs %>

</head>
<body>


<!-- header and menu -->
<% include ../templates/header2.ejs %>


<!-- Main Content -->
<div class="content container c-h">

    <div class="row">



                <div class="panel-body">
                    <h4>Status</h4>
                </div>

                <% if(status.length){ %>
                <table class="table">
                    <thead>
                    <tr>
                        <th style="padding-left: 20px;">#</th>
                        <th>User</th>
                        <th>Problem</th>
                        <th>Time</th>
                        <th>Language</th>
                        <th>CPU</th>
                        <th>Memory</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% for(var i=0; i<status.length; i++){ %>
                    <tr>
                        <td style="padding-left: 20px;"><%= pagination.offset() + (i+1) %></td>
                        <td>
                            <a href="/user/<%= status[i].username %>">
                                <%= status[i].username %>
                            </a>
                        </td>
                        <td class="ellips" style="max-width: 100px;">
                            <a href="/problems/JOP0<%= status[i].pid %>" title="<%= status[i].title %>">
                                <%= status[i].title %>
                            </a>
                        </td>
                        <td class="ellips" title="<%= status[i].submittime %>">
                            <%= moment(status[i].submittime).from() %>
                        </td>
                        <td><%= langNames[status[i].language] %></td>
                        <td><%= parseFloat(status[i].cpu/1000.0).toFixed(2) %>s</td>
                        <td><%= status[i].memory %>KB</td>
                        <td>
                            <% var st = parseInt(status[i].status); %>
                            <% if(st === 0){ %>
                            <span class="label label-success">
                                <% }else if(st === 5){ %>
                                <span class="label label-default">
                                    <% }else if(st === 6){ %>
                                    <span class="label label-info">
                                        <% }else if(st === 8){ %>
                                        <span class="label label-warning">
                                            <% }else{ %>
                                            <span class="label label-danger">
                                                <% } %>
                                                <%= runStatus[st] %>
                                                </span>
                        </td>
                    </tr>
                    <% } %>
                    </tbody>
                </table>

                <hr class="last-border">

                <% include ../templates/pagination.ejs %>


                <% } %>


    </div>

</div>

<!-- footer -->
<% include ../templates/footer.ejs %>

</body>
</html>