<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JUST Online Judge</title>

    <% include ../templates/head.ejs %>

</head>
<body>


<!-- header and menu -->
<% include ../templates/header2.ejs %>


<!-- Main Content -->
<div class="content container c-h" >

    <div class="row">

        <div class="col-md-9 nopadding">

            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-hourglass-half" aria-hidden="true"></i> Running Contests</div>

                <% if(running.length){ %>


                <table class="table">
                    <thead>
                    <tr>

                        <th style="width: 65%">Title</th>
                        <th style="width: 25%">Start</th>
                        <th style="width: 5%"></th>
                    </tr>
                    </thead>
                    <tbody>

                    <% for(var i=0; i<running.length; i++){ %>

                    <tr>

                        <td>
                            <a href = "/contest/<%= running[i].id %>" style="font-size: 15px;">
                                <%= running[i].title %>
                            </a>
                        </td>
                        <td>
                            Ends <%= moment(running[i].end).from() %>
                        </td>
                        <td>
                            <span class = "badge badge-info">
                                <i class="fa fa-user" aria-hidden="true"></i> x <%= running[i].users %>
                            </span>
                        </td>
                    </tr>

                    <% } %>

                    </tbody>
                </table>

                <% } %>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-hourglass-o" aria-hidden="true"></i> Future Contests</div>
            <% if(future.length){ %>

            <table class="table">
                <thead>
                <tr>

                    <th style="width: 65%">Title</th>
                    <th style="width: 25%">Start</th>
                    <th style="width: 5%"></th>
                </tr>
                </thead>
                <tbody>

                <% for(var i=0; i<future.length; i++){ %>

                <tr>

                    <td>
                        <a href = "/contest/<%= future[i].id %>" style="font-size: 15px;">
                            <%= future[i].title %>
                        </a>
                    </td>
                    <td>
                        Starts <%= moment(future[i].begin).from() %>
                    </td>
                    <td>
                            <span class = "badge">
                                <i class="fa fa-user" aria-hidden="true"></i> x <%= future[i].users %>
                            </span>
                    </td>
                </tr>

                <% } %>

                </tbody>
            </table>

            <% } %>
            </div>




            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-hourglass-end" aria-hidden="true"></i> Past Contests
                    <span class="pull-right"><a href="/contest/past">View All</a></span>
                </div>
            <% if(ended.length){ %>

                <table class="table">
                    <thead>
                    <tr>
                        <th style="width: 65%">Title</th>
                        <th style="width: 25%">Start</th>
                        <th style="width: 5%"></th>
                    </tr>
                    </thead>
                    <tbody>





                <% for(var i=0; i<ended.length; i++){ %>


                <tr>


                    <td>
                        <a href = "/contest/<%= ended[i].id %>" style="font-size: 15px;">
                            <%= ended[i].title %>
                        </a>
                    </td>
                    <td>
                        Ended <%= moment(ended[i].begin).from() %>
                    </td>
                    <td>
                            <span class = "badge">
                                <i class="fa fa-user" aria-hidden="true"></i> x <%= ended[i].users %>
                            </span>
                    </td>
                </tr>


                <% } %>

                    </tbody>
                </table>

            <% } %>
            </div>


        </div>



        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Contest Hosting</h3>
                    <p>Want to host a contest on JUSTOJ for your organization or university?</p>
                    <a href="/contest/host" class="btn btn-sm btn-primary">Click Here!</a>
                </div>
            </div>
        </div>


    </div>



</div>



<!-- footer -->
<% include ../templates/footer.ejs %>

</body>
</html>