<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JUST Online Judge</title>

    <% include ../../templates/head.ejs %>

    <script src="//code.highcharts.com/highcharts.src.js"></script>
    <script src="/javascripts/notify.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.2/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.2/sweetalert2.min.css" />

    <!-- Include a polyfill for ES6 Promises (optional) for IE11 and Android browser -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>

</head>
<body>


<!-- header and menu -->
<% include ../../templates/header2.ejs %>


<!-- Main Content -->
<div class="content container" style="min-height: 550px;">

    <div class="row">

        <!-- errors -->
        <% if (error.length) { %>
        <div class="col-md-12">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <%= error %>
            </div>
        </div>
        <% } %>

        <!-- succes -->
        <% if (success.length) { %>
        <div class="col-md-12">
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <%= success %>
            </div>
        </div>
        <% } %>

        <!-- succes -->
        <% if (auth_error && auth_error.length) { %>
        <div class="col-md-12">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="text-center alert-message"><%= auth_error %></div>
            </div>
        </div>
        <% } %>

        <!-- succes -->
        <% if (auth_success && auth_success.length) { %>
        <div class="col-md-12">
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="text-center alert-message"><%= auth_success %></div>
            </div>
        </div>
        <% } %>


        <div class="col-md-3">

            <div class="panel panel-default">
                <div class="panel-body">
                <div class="profile-pic-container">
                    <div class="profile-pic-img">
                        <img class="img-thumbnail" src="<%= profile.profilePicture %>" />
                        <h5 class="profile-name-container">
                            <a target="_blank" href="http://gravatar.com/" class="btn btn-md btn-default">Change Profile Picture</a>
                        </h5>
                        <p class="help-block" style="margin-bottom: 0">You will be redirected to <b>gravatar</b> to change your profile.</p>
                    </div>
                </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-share-alt" aria-hidden="true"></i> Share Social Accounts</div>
                <div class="list-group social-btn-group">

                    <% if(profile.userData.google_id.length){ %>
                        <a href="/auth/google?process=disconnect" class="list-group-item text-center">
                            <i class="fa fa-google-plus" aria-hidden="true"></i> Disconnect
                        </a>
                    <% }else{ %>
                        <a href="/auth/google" style="background-color: #DB4932;" class="list-group-item text-center nocon">
                            <i class="fa fa-google-plus" aria-hidden="true"></i> Connect
                        </a>
                    <% } %>


                    <% if(profile.userData.fb_id.length){ %>
                        <a href="/auth/facebook?process=disconnect" class="list-group-item text-center">
                            <i class="fa fa-facebook" aria-hidden="true"></i> Disconnect
                        </a>
                    <% }else{ %>
                        <a href="/auth/facebook" style="background-color: #5A76B1;" class="list-group-item text-center nocon">
                            <i class="fa fa-facebook" aria-hidden="true"></i> Connect
                        </a>
                    <% } %>


                    <% if(profile.userData.linkedin_id.length){ %>
                        <a href="/auth/linkedin?process=disconnect" class="list-group-item text-center">
                            <i class="fa fa-linkedin" aria-hidden="true"></i> Disconnect
                        </a>
                    <% }else{ %>
                        <a href="/auth/linkedin" style="background-color: #5C99C5;" class="list-group-item text-center nocon">
                            <i class="fa fa-linkedin" aria-hidden="true"></i> Connect
                        </a>
                    <% } %>

                </div>
            </div>

        </div>

        <div class="col-md-6">

            <div class="panel panel-default ">
                <div class="panel-heading"><i class="fa fa-info-circle" aria-hidden="true"></i> Personal Information</div>
                <div class="panel-body">
                    <div >

                        <form method="post" action="/user/settings/profile" name="profile-dupate-form">
                            <div class="form-group">
                                <label for="inputName">Full name</label>
                                <input type="text" name="name" value="<%= profile.userData.name || '' %>" class="form-control" id="inputName" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label for="inputWebsite">Website</label>
                                <input type="text" name="website" value="<%= profile.userData.website || '' %>" class="form-control" id="inputWebsite" placeholder="http://">
                            </div>
                            <div class="form-group">
                                <label for="inputInstitution">Institution</label>
                                <input type="text" name="institution" value="<%= profile.userData.institute || '' %>" class="form-control" id="inputInstitution" placeholder="school/university/company">
                            </div>
                            <div class="form-group">
                                <label for="inputLocation">Location</label>
                                <input type="text" name="location" value="<%= profile.userData.city || '' %>" class="form-control" id="inputLocation" placeholder="town/city">
                            </div>
                            <div class="form-group">
                                <label for="inputCountry">Country</label>
                                <select id="inputCountry" class="form-control" name="country">
                                    <option value="AF">Afghanistan</option>
                                    <option value="AX">Aland Islands</option>
                                    <option value="AL">Albania</option>
                                    <option value="DZ">Algeria</option>
                                    <option value="AS">American Samoa</option>
                                    <option value="AD">Andorra</option>
                                    <option value="AO">Angola</option>
                                    <option value="AI">Anguilla</option>
                                    <option value="AQ">Antarctica</option>
                                    <option value="AG">Antigua And Barbuda</option>
                                    <option value="AR">Argentina</option>
                                    <option value="AM">Armenia</option>
                                    <option value="AW">Aruba</option>
                                    <option value="AC">Ascension Island</option>
                                    <option value="AU">Australia</option>
                                    <option value="AT">Austria</option>
                                    <option value="AZ">Azerbaijan</option>
                                    <option value="BS">Bahamas</option>
                                    <option value="BH">Bahrain</option>
                                    <option value="BD">Bangladesh</option>
                                    <option value="BB">Barbados</option>
                                    <option value="BY">Belarus</option>
                                    <option value="BE">Belgium</option>
                                    <option value="BZ">Belize</option>
                                    <option value="BJ">Benin</option>
                                    <option value="BM">Bermuda</option>
                                    <option value="BT">Bhutan</option>
                                    <option value="BO">Bolivia, Plurinational State Of</option>
                                    <option value="BQ">Bonaire, Saint Eustatius And Saba</option>
                                    <option value="BA">Bosnia &amp; Herzegovina</option>
                                    <option value="BW">Botswana</option>
                                    <option value="BV">Bouvet Island</option>
                                    <option value="BR">Brazil</option>
                                    <option value="BQ">British Antarctic Territory</option>
                                    <option value="IO">British Indian Ocean Territory</option>
                                    <option value="BN">Brunei Darussalam</option>
                                    <option value="BG">Bulgaria</option>
                                    <option value="BF">Burkina Faso</option>
                                    <option value="BU">Burma</option>
                                    <option value="BI">Burundi</option>
                                    <option value="BY">Byelorussian SSR</option>
                                    <option value="CV">Cabo Verde</option>
                                    <option value="KH">Cambodia</option>
                                    <option value="CM">Cameroon</option>
                                    <option value="CA">Canada</option>
                                    <option value="IC">Canary Islands</option>
                                    <option value="CT">Canton and Enderbury Islands</option>
                                    <option value="KY">Cayman Islands</option>
                                    <option value="CF">Central African Republic</option>
                                    <option value="EA">Ceuta, Mulilla</option>
                                    <option value="TD">Chad</option>
                                    <option value="CL">Chile</option>
                                    <option value="CN">China</option>
                                    <option value="CX">Christmas Island</option>
                                    <option value="CP">Clipperton Island</option>
                                    <option value="CC">Cocos (Keeling) Islands</option>
                                    <option value="CO">Colombia</option>
                                    <option value="KM">Comoros</option>
                                    <option value="CK">Cook Islands</option>
                                    <option value="CR">Costa Rica</option>
                                    <option value="HR">Croatia</option>
                                    <option value="CU">Cuba</option>
                                    <option value="CW">Curacao</option>
                                    <option value="CY">Cyprus</option>
                                    <option value="CZ">Czech Republic</option>
                                    <option value="CS">Czechoslovakia</option>
                                    <option value="CI">Côte d&#39;Ivoire</option>
                                    <option value="DY">Dahomey</option>
                                    <option value="CD">Democratic Republic Of Congo</option>
                                    <option value="DK">Denmark</option>
                                    <option value="DG">Diego Garcia</option>
                                    <option value="DJ">Djibouti</option>
                                    <option value="DM">Dominica</option>
                                    <option value="DO">Dominican Republic</option>
                                    <option value="NQ">Dronning Maud Land</option>
                                    <option value="TP">East Timor</option>
                                    <option value="EC">Ecuador</option>
                                    <option value="EG">Egypt</option>
                                    <option value="SV">El Salvador</option>
                                    <option value="GQ">Equatorial Guinea</option>
                                    <option value="ER">Eritrea</option>
                                    <option value="EE">Estonia</option>
                                    <option value="ET">Ethiopia</option>
                                    <option value="EU">European Union</option>
                                    <option value="FK">Falkland Islands</option>
                                    <option value="FO">Faroe Islands</option>
                                    <option value="FJ">Fiji</option>
                                    <option value="FI">Finland</option>
                                    <option value="FR">France</option>
                                    <option value="FX">France, Metropolitan</option>
                                    <option value="AI">French Afar and Issas</option>
                                    <option value="GF">French Guiana</option>
                                    <option value="PF">French Polynesia</option>
                                    <option value="TF">French Southern Territories</option>
                                    <option value="FQ">French Southern and Antarctic Territories</option>
                                    <option value="GA">Gabon</option>
                                    <option value="GM">Gambia</option>
                                    <option value="GE">Georgia</option>
                                    <option value="DD">German Democratic Republic</option>
                                    <option value="DE">Germany</option>
                                    <option value="GH">Ghana</option>
                                    <option value="GI">Gibraltar</option>
                                    <option value="GE">Gilbert and Ellice Islands</option>
                                    <option value="GR">Greece</option>
                                    <option value="GL">Greenland</option>
                                    <option value="GD">Grenada</option>
                                    <option value="GP">Guadeloupe</option>
                                    <option value="GU">Guam</option>
                                    <option value="GT">Guatemala</option>
                                    <option value="GG">Guernsey</option>
                                    <option value="GN">Guinea</option>
                                    <option value="GW">Guinea-bissau</option>
                                    <option value="GY">Guyana</option>
                                    <option value="HT">Haiti</option>
                                    <option value="HM">Heard Island And McDonald Islands</option>
                                    <option value="HN">Honduras</option>
                                    <option value="HK">Hong Kong</option>
                                    <option value="HU">Hungary</option>
                                    <option value="IS">Iceland</option>
                                    <option value="IN">India</option>
                                    <option value="ID">Indonesia</option>
                                    <option value="IR">Iran, Islamic Republic Of</option>
                                    <option value="IQ">Iraq</option>
                                    <option value="IE">Ireland</option>
                                    <option value="IM">Isle Of Man</option>
                                    <option value="IL">Israel</option>
                                    <option value="IT">Italy</option>
                                    <option value="JM">Jamaica</option>
                                    <option value="JP">Japan</option>
                                    <option value="JE">Jersey</option>
                                    <option value="JT">Johnston Island</option>
                                    <option value="JO">Jordan</option>
                                    <option value="KZ">Kazakhstan</option>
                                    <option value="KE">Kenya</option>
                                    <option value="KI">Kiribati</option>
                                    <option value="KP">Korea, Democratic People&#39;s Republic Of</option>
                                    <option value="KR">Korea, Republic Of</option>
                                    <option value="XK">Kosovo</option>
                                    <option value="KW">Kuwait</option>
                                    <option value="KG">Kyrgyzstan</option>
                                    <option value="LA">Lao People&#39;s Democratic Republic</option>
                                    <option value="LV">Latvia</option>
                                    <option value="LB">Lebanon</option>
                                    <option value="LS">Lesotho</option>
                                    <option value="LR">Liberia</option>
                                    <option value="LY">Libya</option>
                                    <option value="LI">Liechtenstein</option>
                                    <option value="LT">Lithuania</option>
                                    <option value="LU">Luxembourg</option>
                                    <option value="MO">Macao</option>
                                    <option value="MK">Macedonia, The Former Yugoslav Republic Of</option>
                                    <option value="MG">Madagascar</option>
                                    <option value="MW">Malawi</option>
                                    <option value="MY">Malaysia</option>
                                    <option value="MV">Maldives</option>
                                    <option value="ML">Mali</option>
                                    <option value="MT">Malta</option>
                                    <option value="MH">Marshall Islands</option>
                                    <option value="MQ">Martinique</option>
                                    <option value="MR">Mauritania</option>
                                    <option value="MU">Mauritius</option>
                                    <option value="YT">Mayotte</option>
                                    <option value="MX">Mexico</option>
                                    <option value="FM">Micronesia, Federated States Of</option>
                                    <option value="MI">Midway Islands</option>
                                    <option value="MD">Moldova</option>
                                    <option value="MC">Monaco</option>
                                    <option value="MN">Mongolia</option>
                                    <option value="ME">Montenegro</option>
                                    <option value="MS">Montserrat</option>
                                    <option value="MA">Morocco</option>
                                    <option value="MZ">Mozambique</option>
                                    <option value="MM">Myanmar</option>
                                    <option value="NA">Namibia</option>
                                    <option value="NR">Nauru</option>
                                    <option value="NP">Nepal</option>
                                    <option value="NL">Netherlands</option>
                                    <option value="AN">Netherlands Antilles</option>
                                    <option value="NT">Neutral Zone</option>
                                    <option value="NC">New Caledonia</option>
                                    <option value="NH">New Hebrides</option>
                                    <option value="NZ">New Zealand</option>
                                    <option value="NI">Nicaragua</option>
                                    <option value="NE">Niger</option>
                                    <option value="NG">Nigeria</option>
                                    <option value="NU">Niue</option>
                                    <option value="NF">Norfolk Island</option>
                                    <option value="MP">Northern Mariana Islands</option>
                                    <option value="NO">Norway</option>
                                    <option value="OM">Oman</option>
                                    <option value="PC">Pacific Islands, Trust Territory of the</option>
                                    <option value="PK">Pakistan</option>
                                    <option value="PW">Palau</option>
                                    <option value="PS">Palestinian Territory, Occupied</option>
                                    <option value="PA">Panama</option>
                                    <option value="PZ">Panama Canal Zone</option>
                                    <option value="PG">Papua New Guinea</option>
                                    <option value="PY">Paraguay</option>
                                    <option value="PE">Peru</option>
                                    <option value="PH">Philippines</option>
                                    <option value="PN">Pitcairn</option>
                                    <option value="PL">Poland</option>
                                    <option value="PT">Portugal</option>
                                    <option value="PR">Puerto Rico</option>
                                    <option value="QA">Qatar</option>
                                    <option value="CG">Republic Of Congo</option>
                                    <option value="RE">Reunion</option>
                                    <option value="RO">Romania</option>
                                    <option value="RU">Russian Federation</option>
                                    <option value="RW">Rwanda</option>
                                    <option value="BL">Saint Barthélemy</option>
                                    <option value="SH">Saint Helena, Ascension And Tristan Da Cunha</option>
                                    <option value="KN">Saint Kitts And Nevis</option>
                                    <option value="LC">Saint Lucia</option>
                                    <option value="MF">Saint Martin</option>
                                    <option value="PM">Saint Pierre And Miquelon</option>
                                    <option value="VC">Saint Vincent And The Grenadines</option>
                                    <option value="WS">Samoa</option>
                                    <option value="SM">San Marino</option>
                                    <option value="ST">Sao Tome and Principe</option>
                                    <option value="SA">Saudi Arabia</option>
                                    <option value="SN">Senegal</option>
                                    <option value="RS">Serbia</option>
                                    <option value="CS">Serbia and Montenegro</option>
                                    <option value="SC">Seychelles</option>
                                    <option value="SL">Sierra Leone</option>
                                    <option value="SK">Sikkim</option>
                                    <option value="SG">Singapore</option>
                                    <option value="SX">Sint Maarten</option>
                                    <option value="SK">Slovakia</option>
                                    <option value="SI">Slovenia</option>
                                    <option value="SB">Solomon Islands</option>
                                    <option value="SO">Somalia</option>
                                    <option value="ZA">South Africa</option>
                                    <option value="GS">South Georgia And The South Sandwich Islands</option>
                                    <option value="SS">South Sudan</option>
                                    <option value="RH">Southern Rhodesia</option>
                                    <option value="ES">Spain</option>
                                    <option value="LK">Sri Lanka</option>
                                    <option value="SD">Sudan</option>
                                    <option value="SR">Suriname</option>
                                    <option value="SJ">Svalbard And Jan Mayen</option>
                                    <option value="SZ">Swaziland</option>
                                    <option value="SE">Sweden</option>
                                    <option value="CH">Switzerland</option>
                                    <option value="SY">Syrian Arab Republic</option>
                                    <option value="TW">Taiwan</option>
                                    <option value="TJ">Tajikistan</option>
                                    <option value="TZ">Tanzania, United Republic Of</option>
                                    <option value="TH">Thailand</option>
                                    <option value="TL">Timor-Leste, Democratic Republic of</option>
                                    <option value="TG">Togo</option>
                                    <option value="TK">Tokelau</option>
                                    <option value="TO">Tonga</option>
                                    <option value="TT">Trinidad And Tobago</option>
                                    <option value="TA">Tristan de Cunha</option>
                                    <option value="TN">Tunisia</option>
                                    <option value="TR">Turkey</option>
                                    <option value="TM">Turkmenistan</option>
                                    <option value="TC">Turks And Caicos Islands</option>
                                    <option value="TV">Tuvalu</option>
                                    <option value="PU">U.S. Miscellaneous Pacific Islands</option>
                                    <option value="SU">USSR</option>
                                    <option value="UG">Uganda</option>
                                    <option value="UA">Ukraine</option>
                                    <option value="AE">United Arab Emirates</option>
                                    <option value="GB">United Kingdom</option>
                                    <option value="UK">United Kingdom</option>
                                    <option value="US">United States</option>
                                    <option value="UM">United States Minor Outlying Islands</option>
                                    <option value="HV">Upper Volta</option>
                                    <option value="UY">Uruguay</option>
                                    <option value="UZ">Uzbekistan</option>
                                    <option value="VU">Vanuatu</option>
                                    <option value="VA">Vatican City State</option>
                                    <option value="VE">Venezuela, Bolivarian Republic Of</option>
                                    <option value="VN">Viet Nam</option>
                                    <option value="VD">Viet-Nam, Democratic Republic of</option>
                                    <option value="VG">Virgin Islands (British)</option>
                                    <option value="VI">Virgin Islands (US)</option>
                                    <option value="WK">Wake Island</option>
                                    <option value="WF">Wallis And Futuna</option>
                                    <option value="EH">Western Sahara</option>
                                    <option value="YE">Yemen</option>
                                    <option value="YD">Yemen, Democratic</option>
                                    <option value="YU">Yugoslavia</option>
                                    <option value="ZR">Zaire</option>
                                    <option value="ZM">Zambia</option>
                                    <option value="ZW">Zimbabwe</option>
                                </select>
                            </div>
                            <input type="submit" class="btn btn-primary" value="Update" />
                        </form>

                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Change Password</div>
                <div class="panel-body">
                    <div >

                        <form method="post" action="/user/settings/changepassword" name="chpass-form">
                            <div class="form-group">
                                <label for="inputcurrentpassword">Current Passoword</label>
                                <input type="password" name="currentpassword" class="form-control" id="inputcurrentpassword" placeholder="current password">
                            </div>
                            <br/>
                            <div class="form-group">
                                <label for="inputnewpassword">New Passoword</label>
                                <input type="password" name="newpassword" class="form-control" id="inputnewpassword" placeholder="new password">
                            </div>
                            <div class="form-group">
                                <label for="inputconfirmpassword">Confirm</label>
                                <input type="password" name="confirmpassword" class="form-control" id="inputconfirmpassword" placeholder="confirm new password">
                            </div>
                            <input type="submit" class="btn btn-primary" value="Submit" />
                        </form>

                    </div>
                </div>
            </div>

        </div>


        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Connect Profiles</div>
                <ul class="list-group">

                    <% if(profile.userData.stack_token.length){ %>
                    <li class="list-group-item text-center">
                        <button style="border: 2px solid #419641;" class="btn btn-lg btn-default account-btn"><i class="fa fa-stack-overflow" aria-hidden="true"></i> Stack Overflow</button>
                        <a href="/auth/stackexchange?process=disconnect" class="clearfix">Disconnect</a>
                    </li>
                    <% }else{ %>
                    <li class="list-group-item text-center">
                        <a href="/auth/stackexchange" class="btn btn-lg btn-default account-btn"><i class="fa fa-stack-overflow" aria-hidden="true"></i> Stack Overflow</a>
                    </li>
                    <% } %>

                    <% if(profile.userData.github_token.length){ %>
                    <li class="list-group-item text-center">
                        <button style="border: 2px solid #419641;" class="btn btn-lg btn-default account-btn"><i class="fa fa-github" aria-hidden="true"></i> Github</button>
                        <a href="/auth/github?process=disconnect" class="clearfix">Disconnect</a>
                    </li>
                    <% }else{ %>
                    <li class="list-group-item text-center">
                        <a href="/auth/github" class="btn btn-lg btn-default account-btn"><i class="fa fa-github" aria-hidden="true"></i> Github</a>
                    </li>
                    <% } %>

                    <% if(profile.userData.uva_userid.length){ %>
                    <li class="list-group-item text-center">
                        <button style="border: 2px solid #419641;" class="btn btn-lg btn-default account-btn"><img src="/images/uva22x22.png" /> UVA</button>
                        <a href="/auth/uva?process=disconnect" class="clearfix">Disconnect</a>
                    </li>
                    <% }else{ %>
                    <li class="list-group-item text-center">
                        <a href="#" class="btn btn-lg btn-default account-btn" data-toggle="modal" data-target="#uvaModal"><img src="/images/uva22x22.png" /> UVA</a>
                    </li>
                    <% } %>


                    <% if(profile.userData.cf_username.length){ %>
                    <li class="list-group-item text-center">
                        <button style="border: 2px solid #419641;" class="btn btn-lg btn-default account-btn"><img src="/images/codeforces32x32.png" /> Codeforces</button>
                        <a href="/auth/codeforces?process=disconnect" class="clearfix">Disconnect</a>
                    </li>
                    <% }else{ %>
                    <li class="list-group-item text-center">
                        <a href="#" class="btn btn-lg btn-default account-btn" ><img src="/images/codeforces32x32.png" /> Codeforces</a>
                    </li>
                    <% } %>



                </ul>
            </div>
        </div>

    </div>
</div>


<script type="text/javascript" src="/javascripts/pageFunctions/common-util.js"></script>

<!-- modal -->
<% include ../../templates/connect_uva_modal.ejs %>
<!-- footer -->
<% include ../../templates/footer.ejs %>

</body>
</html>